@import '../../../scss/core/globals.scss';
@import '../../../scss/core/mixins';

$titleWidth: 800px;

main-element-component {
    display: flex;
    align-items: center;
    justify-content: center;

    #main-title {

        animation: move-title linear both;
        animation-timeline: scroll(root block);
        animation-range: 0% 70vh;
        animation-fill-mode: forwards;
        transition: all 300ms;

        .title-page-description {
            font-weight: bold;
        }
    }
}


@keyframes move-title {
    from {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(-40%, 330%) scale(80%);
    }
}