@import '../../../scss/core/globals.scss';
@import '../../../scss/core/mixins';

$titleWidth: 800px;

main-element-component {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    #main-title {
        transition: all 300ms;

        .title-page-description {
            font-weight: bold;
        }
    }
}
