@import '../../../scss/core/globals.scss';
@import '../../../scss/core/mixins';

$titleWidth: 800px;

main-element-component {
    #main-title {
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $titleWidth;
        position: fixed;
       
        animation: adjust-image linear both;
        animation-timeline: scroll();
        animation-range: 0 43%;
        transition: all;

        .title-page-description {
            font-weight: bold;
        }
    }
}


@keyframes adjust-image {
    from {
        // zoomate: -50% 100% 0;
        translate: 0% 0%;
        margin-left: calc((#{$titleWidth} / 3));
        margin-top: calc((100vh / 3));
    }

    80% {
        opacity: 1;
        margin-left: 5%;
        margin-top: 77vh;
    }

    90% {
        opacity: 1;
        margin-left: 5%;
        margin-top: 77vh;
    }

    to {
        opacity: 0;
        margin-left: 0%;
        margin-top: 70vh;
    }
}