---
let { title, name, position1, position2, position3 } = Astro.props;

const data = {
  title: "Hello, I'm ",
  name: "Sergio Gallegos",
  position1: "Frontend",
  position2: "Backend",
  position3: "Developer",
};

title = data.title;
name = data.name;
position1 = data.position1;
position2 = data.position2;
position3 = data.position3;
---

<div class="content">
    <div class="title">
        <div class="name">{ name }</div>
        <div class="types">{ position1 } <span class="accent">&</span> {position2} </div>
        <div class="types bold"> <span class="accent">/</span> { position3 } <span class="accent">.</span>  </div>
    </div>

    <div class="description">

        <p>
            Based in Mexico,</p>

            <p>12 Years of professional
experience. Ready for
your challenges.</p>

        <div class="next">
            <span>02</span>
            <div>EXPERIENCE</div>
        </div>

    </div>
</div>