@import '../../../scss/core/globals.scss';
@import '../../../scss/core/mixins';

$timeAnimationTitle: 300ms;

titlepage-component {

    .title-page {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        line-height: 1;

        .title-page-name,
        .title-page-name-alt {
            font-size: rem(25);
            // transition: all #{$timeAnimationTitle};
        }

        .title-page-title {
            font-size: rem(70);
            text-transform: uppercase;
            // transition: all #{$timeAnimationTitle};
        }

        .title-page-description {
            font-size: rem(70);
            text-transform: uppercase;
            // transition: all #{$timeAnimationTitle};
        }

        .accent {
            color: $accentColor;
            // transition: all #{$timeAnimationTitle};
        }

        .initials {
            text-transform: uppercase;
        }

        .subinitials {
            text-transform: uppercase;
            margin-right: 10px;
        }

        span {
            // transition: all #{$timeAnimationTitle};
        }
    }

    #about-title {
        // animation-timeline: scroll(root block);;
        // animation-name: titleAnimationAbout;
        // animation-range: 0% 15%;
        // animation-fill-mode: forwards;
        transition: transform, opacity, margin 1000ms;
        // margin: 10% 0 40%;

        .title-page-name {
            .accent {
                display: none;
            }

            // transition-delay: 0ms;
            display: flex;

            div {
                position: relative;
                text-transform: uppercase;
                transform: translateX(0%);

                &:nth-child(1) {
                    // transition-duration: 300ms;
                }

                &:nth-child(2) {
                    // transition-duration: 600ms;
                }

                &:nth-child(3) {
                    // transition-duration: 300ms;
                }

                &:nth-child(4) {
                    // transition-duration: 600ms;
                }
            }
        }

        .title-page-title {
            // transition-delay: 0ms;
        }

        .title-page-description {
            // transition-delay: 0ms;
        }

        .accent {
            // transition-delay: 0ms;
        }


        &.collapsed {
            margin: 30% 0% 5%;

            .title-page-name {
                transform: translateX(0%) translateY(-45%);
                font-size: calc(2.5 * 1rem);
                font-weight: 700;

                .initials {
                    opacity: 1;

                }

                .initials2 {
                    transform: translateX(-91%);
                }

                .subinitials {
                    // text-transform: lowercase;
                    opacity: 0;
                    transform: translateX(-150%);
                    margin: 0;
                }

                .accent {
                    display: inline-block;
                }
            }

            .title-page-title {
                transform: translateY(-100%);
                opacity: 0;

                span {
                    position: absolute;
                }

                .front {
                    transform: translateY(100%);
                }

                .back {
                    transform: translateY(-100%);
                }
            }

            .title-page-description {
                transform: scale(2) translateX(25%);
            }
        }
    }

    #main-title {
        top: 8%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 450px;

        position: fixed;
        animation: adjust-image linear both;
        animation-timeline: scroll();
        animation-range: 0% 30%;

        top: 8%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 450px;

        // display: block;
        // height: 20rem;
        // max-height: 50vw;
        // width: auto;
        // margin: 0 auto;
    }


}