@import '../core/mixins';

.experience-section {
  /* Variables */
  $color-1: black;
  $color-2: white;
  $color-3: #ffcc00;

  /* Styling */
  .timeline {
    position: relative;
    font-family: "Open Sans", sans-serif;
    

    &:before {
      background-color: $color-1;
      content: "";
      margin-left: -1px;
      position: absolute;
      top: 0;
      left: 2em;
      width: 2px;
      height: 100%;
      @include mobile {
        display: none;
      }
    }
  }

  .timeline-event {
    position: relative;
    @include mobile {
      margin: 0 0 30px;
    }

    &:hover {
      .timeline-event-icon {
        transform: rotate(-45deg);
        background: $color-3;

      }

      .timeline-event-thumbnail {
        //   box-shadow: inset 40em 0 0 0 $color-3;
        background: $color-3;
        color: black;
      }
    }
  }

  .timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -3em;
    left: 4em;
    width: 80%;

    @include mobile {
      padding: 0;
      left: 0;
      top: 0;
      width: 100%;
    }

    h3 {
      font-size: 1.75em;
    }

    h4 {
      font-size: 1.2em;
      margin-bottom: 1.2em;
    }

    strong {
      font-weight: 700;
    }

    p:not(.timeline-event-thumbnail) {
      padding-bottom: 1.2em;
    }
  }

  .timeline-event-icon {
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);

    background-color: $color-1;
    outline: 10px solid $color-2;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;

    @include mobile {
      display: none;
    }
  }

  .timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: $color-2;
    font-size: 1em;

    background-color: $color-1;
    display: inline-block;
    margin-bottom: 0;
    padding: 0.25em 1em 0.2em 1em;
  }

  .logo-enterprice {
    img {
      height: 60px;
      width: auto;
    }
  }

  .list-tech {
    display: flex;
    flex-wrap: wrap;

    div {
      padding: 3px 8px;
      background: rgb(209, 209, 209);
      margin: 5px;
      margin-left: 0px;
    }
  }

  .experience-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .experience-details {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 20px 20px 0;
    line-height: 2;
    .position {
      width: 35%;
      line-height: 1.7;
      .logo-enterprice {
        width: 90%;
      }
      .name {
        text-transform: uppercase;
        line-height: 1;
        font-size: 15px;
        margin-bottom: -3px;
        border-bottom: 2px solid #fbe7b6;
        padding-bottom: 4px;
      }
      .type {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .period {
        font-size: 16px;
      }
    }
    .description {
      width: 70%;
      p {
        margin-top: 0;
        margin-bottom: 1.5em;
      }
    }
  }
}
