.shimmer {
	// font-family: "Lato";
	// font-weight: 300;
	// font-size: 3em;
	margin: 0 auto;
	// padding: 0 140px 0 0;
	display: inline;
	margin-bottom: 0;
	text-align: center;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%);
	-webkit-background-size: 125px 100%;
	-moz-background-size: 125px 100%;
	background-size: 125px 100%;
    -webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-animation-name: shimmer;
	-moz-animation-name: shimmer;
	animation-name: shimmer;
	// -webkit-animation-duration: 2s;
	// -moz-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	// -moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #aeaeae;
}

@keyframes shimmer {
    0% { background-position: -160% 0% }
  100% { background-position: 160% 0% }
}
  