@import '../core/typography';

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    @extend .oswaldFont;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    margin: 1em 0;
}