@import "../core/globals.scss";
@import "../core/mixins";


$grid-background-color: #0F0F0F;
$grid-line-color: #000;
$grid-width: 100px;
$timeline-events-no: 17;
$timeline-events-level: 10;
$timeline-events-line-height: 15px;
$timeline-years-no: 19;

.timeline-component {
    margin: 0 -40px -30px;
    margin: 0px;
    padding: 0;
    position: relative;
    overflow-x: auto;
    width: 100vw;
    height: 70vh;
    font-family: $robotoFont;

    h1 {
        position: absolute;
        top: 20px;
        left: 935px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .timelines-years {
        padding: 0;
        margin: 0;
        white-space: nowrap;
        list-style: none;
        
        
        li {
            width: #{$grid-width * 2};
            font-weight: bold;
            padding: 5px;
            display: inline-block;
             background: black;
             color: white;

            &:last-child {
                width: $grid-width;
            }
        }
    }

    /* Timeline - Events */
    .timeline-events, .timeline-institutions {
        position: relative;
        // top: 200px;
        top: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        height: calc((70vh / 2) - 20px);

        h2, h3, h4 {
            margin: 0 0 1px 0;
            font-weight: normal;
            font-size: 13px;
        }
        h2 {
            color: #777;
            text-transform: uppercase;
            display: none;
        }
        h4 {
            font-style: italic;
        }

        li {
            position: relative;
            display: inline-block;
            background: violet;
            transition: all 300ms;
            top: 208px;
            cursor: pointer;
            border-radius: 10px;
            margin: 2px;
            
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                transition: all 300ms;
                opacity: 1;

                &.full {
                    opacity: 0;
                    display: none;
                }
            }
        }

        // li:before {
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     height: 100%;
        //     width: 100%;
        //     content: "";
        //     background: violet;
        // }
        .show-details {
            // h3 {
            //     display: inline-block;
            // }
            // h2 {
            //     display: inline-block;
            // }
            // h4 {
            //     display: inline-block;
            // }

            // background: red;
            // .info {
            //     opacity: 0;
            //     display: none;
            //     &.full {
            //         opacity: 1;
            //         display: flex;
            //     }
            // }
        }
    }

    .timeline-institutions {
        // top: 200px;
        
        li {
            top: 0px;
        }

        li {
            // height: $timeline-events-line-height;    
            background: rgb(168, 168, 168);
            // top: -20px;
            // @include gradient(green, gray, left);
            // border-radius: 0 6px 6px 0;
        }
    }


    

    // @for $i from 1 through $timeline-events-no {
    //     .timeline-events li:nth-child(#{$i}) { 
    //         bottom: #{((($timeline-events-line-height * 2) * $i)) - ($timeline-events-line-height * 2)};
    //     }
    // }
    
    // .timeline-events li:nth-child(1) h3 {
    //     color: #C2E34E;
    // }
    // /* Orange */
    // .timeline-events li:nth-child(2):before {
    //     background: #FF9704;
    // }
    // .timeline-events li:nth-child(2) h3 {
    //     color: #FF9704;
    // }
    // /* Blue */
    // .timeline-events li:nth-child(3):before {
    //     background: #56C2F3;
    // }
    // .timeline-events li:nth-child(3) h3 {
    //     color: #56C2F3;
    // }
    // /* Red */
    // .timeline-events li:nth-child(4):before {
    //     background: #DD3D01;
    // }
    // .timeline-events li:nth-child(4) h3 {
    //     color: #DD3D01;
    // }
    // /* Aqua/Grey */
    // .timeline-events li:nth-child(5):before {
    //     background: #4A8B8F;
    //     @include gradient(#4A8B8F, #0F0F0F, left);
    //     border-radius: 6px 0 0 6px;
    // }
    // .timeline-events li:nth-child(5) h3 {
    //     color: #4A8B8F;
    // }
    
    
}

/* Timeline - Events - Grid */
@for $i from 0 through $timeline-years-no {
    /* X years */
    .timeline-event-years-#{$i},
    .timeline-event-years-#{$i}:before {
        width: #{($grid-width * 2) * $i};
    }
    /* X.5 years */
    .timeline-event-years-#{$i}-5,
    .timeline-event-years-#{$i}-5:before {
          width: #{(($grid-width * 2) * $i) + ($grid-width)};
    }
}

@for $i from 1 through $timeline-events-level {
    .timeline-level-#{$i} {
        bottom: #{((($timeline-events-line-height * 2) * $i)) - ($timeline-events-line-height * 2)};
    }
}