@import "../../core/globals.scss";

:root {
    --length: 2;
}

 * * { outline: 1px dotted rgb(239, 203, 239);}

$width: 200px;
$number-of-molecules: 43;
$molecule-diameter: 20px;
$width-multiplier: 7;
$animation-duration: 1500ms;
$strandWidth: calc(100% - (#{$molecule-diameter}/2) - $molecule-diameter);
$groups: 6;

$molecule-color-1: mediumvioletred;
$molecule-color-2: rgb(235, 193, 23);
$connection-color: silver;


// ANIMATIONS
@keyframes molecule-animation {
    0% { transform: translateX(0); }
    50% { transform: translateX(0px); }
    100% { transform: translateX(0px); }
}

@keyframes connection-animation {
    from { width: 0%; }
    to { width: $strandWidth; }
}

.dna-component {
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 40px auto 0;
    width: 200px;

    .dna-group {
        &.soft { background: rgb(218, 218, 218); }
        &.hard { background: rgb(247, 245, 205); }
        &.back { background: #02b791; }
        &.ux { background: rgb(247, 245, 205); }
        &.front { background: rgb(218, 218, 218); }
        &.admin { background: rgb(247, 245, 205); }

        // @for $i from 1 through $number-of-molecules {
        //     .chain:nth-of-type(#{$i}) {
        //         .molecule, .strand{
        //             $divisor: calc($number-of-molecules / $groups);
        //             // animation-delay: -#{($animation-duration / ($number-of-molecules / $groups  )) * $i};
        //             animation-delay: -#{ ($animation-duration / $divisor) * $i };
        //         }
        //     }
        // }
    }

    .chain {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: calc($molecule-diameter / 2);
        
        .molecule {
            width: $molecule-diameter;
            height: $molecule-diameter;
            border-radius: 10px;
            background-color: $molecule-color-1;

            animation-name: molecule-animation;
            animation-duration: $animation-duration;
            animation-direction: alternate, normal;

            &:nth-of-type(3) {
                background-color: $molecule-color-2;
                animation-direction: alternate-reverse, normal;
            }
        }

        .strand {
            $height: calc($molecule-diameter / 3);
            height: $height;

            width: $strandWidth;
            border-radius: calc($height / 2);
            background-color: $connection-color;
            margin: $height 0;

            animation-name: connection-animation;
            animation-duration: calc($animation-duration / 2);
            animation-direction: alternate;
        }

        .molecule, .strand {
            // animation-timing-function: ease-in-out;
            // animation-iteration-count: infinite;
        }

        // @for $i from 1 through $number-of-molecules {
        //     &:nth-of-type(#{$i}) {
        //         // .chain {
        //             .molecule, .strand{
        //                 animation-delay: -#{($animation-duration / ($number-of-molecules / $groups  )) * $i};
        //             }
        //         // }
        //     }
        // }
    }

    
}
