/**
 * @description
 * Generate scroll into container 
 *
 * @param $size | define size of scroll
 * 
 * @param $foreground-color | define foreground color
 * $foreground-color : rgba(255, 255, 255, 0.1);
 * 
 * @param $background-color | define background color
 * background-color : rgba(255, 255, 255, 0.1);
 *
 * @param $radius | define trackbar with radius
 */
/**
 * @description
 * Generate linear gradient
 *
 * @param $from-color | define initial color
 * $from-color: rgba(255, 255, 255, 0.5);
 * 
 * @param $to-color | define end color
 * $to-color: rgba(255, 255, 255, 0.1);
 * 
 * @param $deg | is defined by the center of the box containing the gradient image and by an angle
 * $deg: 217deg | 0deg | top | top bottom | left | 0.25turn
 */
/**
 * @description
 * Set element is selectable only text or none
 *
 * @param $value: contain | text | none
 *
 */
.about-section .about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 1203px) {
  .about-section .about-container {
    flex-direction: column;
  }
}
.about-section .about-container .divider50 {
  width: 50%;
}
@media (min-width: 0px) and (max-width: 1203px) {
  .about-section .about-container .divider50 {
    width: 100%;
  }
}
.about-section .about-container .divider50.picture {
  position: relative;
  overflow: hidden;
  height: 77vh;
}
.about-section .about-container .divider50.picture img {
  width: 100%;
  margin-left: 0%;
  margin-top: -74px;
}
.about-section .about-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-section .about-container ul li {
  border-bottom: 1px solid #dfdfdf;
  padding: 12px 0;
}
.about-section .about-container ul li:first-child {
  padding: 0 0 12px 0;
}