/**
 * @description
 * Generate scroll into container 
 *
 * @param $size | define size of scroll
 * 
 * @param $foreground-color | define foreground color
 * $foreground-color : rgba(255, 255, 255, 0.1);
 * 
 * @param $background-color | define background color
 * background-color : rgba(255, 255, 255, 0.1);
 *
 * @param $radius | define trackbar with radius
 */
/**
 * @description
 * Generate linear gradient
 *
 * @param $from-color | define initial color
 * $from-color: rgba(255, 255, 255, 0.5);
 * 
 * @param $to-color | define end color
 * $to-color: rgba(255, 255, 255, 0.1);
 * 
 * @param $deg | is defined by the center of the box containing the gradient image and by an angle
 * $deg: 217deg | 0deg | top | top bottom | left | 0.25turn
 */
/**
 * @description
 * Set element is selectable only text or none
 *
 * @param $value: contain | text | none
 *
 */
.experience-section {
  /* Variables */
  /* Styling */
}
.experience-section .timeline {
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.experience-section .timeline:before {
  background-color: black;
  content: "";
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}
@media (min-width: 0px) and (max-width: 767px) {
  .experience-section .timeline:before {
    display: none;
  }
}
.experience-section .timeline-event {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .experience-section .timeline-event {
    margin: 0 0 30px;
  }
}
.experience-section .timeline-event:hover .timeline-event-icon {
  transform: rotate(-45deg);
  background: #ffcc00;
}
.experience-section .timeline-event:hover .timeline-event-thumbnail {
  background: #ffcc00;
  color: black;
}
.experience-section .timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -3em;
  left: 4em;
  width: 80%;
}
@media (min-width: 0px) and (max-width: 767px) {
  .experience-section .timeline-event-copy {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
}
.experience-section .timeline-event-copy h3 {
  font-size: 1.75em;
}
.experience-section .timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
.experience-section .timeline-event-copy strong {
  font-weight: 700;
}
.experience-section .timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}
.experience-section .timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .experience-section .timeline-event-icon {
    display: none;
  }
}
.experience-section .timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 1em;
  background-color: black;
  display: inline-block;
  margin-bottom: 0;
  padding: 0.25em 1em 0.2em 1em;
}
.experience-section .logo-enterprice img {
  height: 60px;
  width: auto;
}
.experience-section .list-tech {
  display: flex;
  flex-wrap: wrap;
}
.experience-section .list-tech div {
  padding: 3px 8px;
  background: rgb(209, 209, 209);
  margin: 5px;
  margin-left: 0px;
}
.experience-section .experience-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.experience-section .experience-details {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 20px 20px 0;
  line-height: 2;
}
.experience-section .experience-details .position {
  width: 35%;
  line-height: 1.7;
}
.experience-section .experience-details .position .logo-enterprice {
  width: 90%;
}
.experience-section .experience-details .position .name {
  text-transform: uppercase;
  line-height: 1;
  font-size: 15px;
  margin-bottom: -3px;
  border-bottom: 2px solid #fbe7b6;
  padding-bottom: 4px;
}
.experience-section .experience-details .position .type {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.experience-section .experience-details .position .period {
  font-size: 16px;
}
.experience-section .experience-details .description {
  width: 70%;
}
.experience-section .experience-details .description p {
  margin-top: 0;
  margin-bottom: 1.5em;
}