@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

img, object, embed {
  max-width: 100%;
}

img {
  border-style: none;
  border-color: transparent;
  border-width: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:focus {
  text-decoration: underline;
  outline: none;
}

del {
  text-decoration: line-through;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

table {
  font-size: inherit;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible;
}

a.button {
  display: inline-block;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

a:link {
  -webkit-tap-highlight-color: #197edd;
}

ins {
  background-color: black;
  color: black;
  text-decoration: none;
}

mark {
  background-color: black;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/**
 * @description
 * Generate scroll into container 
 *
 * @param $size | define size of scroll
 * 
 * @param $foreground-color | define foreground color
 * $foreground-color : rgba(255, 255, 255, 0.1);
 * 
 * @param $background-color | define background color
 * background-color : rgba(255, 255, 255, 0.1);
 *
 * @param $radius | define trackbar with radius
 */
/**
 * @description
 * Generate linear gradient
 *
 * @param $from-color | define initial color
 * $from-color: rgba(255, 255, 255, 0.5);
 * 
 * @param $to-color | define end color
 * $to-color: rgba(255, 255, 255, 0.1);
 * 
 * @param $deg | is defined by the center of the box containing the gradient image and by an angle
 * $deg: 217deg | 0deg | top | top bottom | left | 0.25turn
 */
/**
 * @description
 * Set element is selectable only text or none
 *
 * @param $value: contain | text | none
 *
 */
.bebasFont {
  font-family: "Bebas Neue", cursive;
}

.openSansFont {
  font-family: "Open Sans", sans-serif;
}

.ubuntuFont {
  font-family: "Ubuntu", sans-serif;
}

.oswaldFont {
  font-family: "Oswald", sans-serif;
}

.robotoFont, html,
body {
  font-family: "Roboto", sans-serif;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 14pt;
  line-height: 22px;
}

* * {
  outline: 1px solid rgba(255, 0, 255, 0.1);
}