@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

img, object, embed {
  max-width: 100%;
}

img {
  border-style: none;
  border-color: transparent;
  border-width: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:focus {
  text-decoration: underline;
  outline: none;
}

del {
  text-decoration: line-through;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

table {
  font-size: inherit;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible;
}

a.button {
  display: inline-block;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

a:link {
  -webkit-tap-highlight-color: #197edd;
}

ins {
  background-color: black;
  color: black;
  text-decoration: none;
}

mark {
  background-color: black;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/**
 * @description
 * Generate scroll into container 
 *
 * @param $size | define size of scroll
 * 
 * @param $foreground-color | define foreground color
 * $foreground-color : rgba(255, 255, 255, 0.1);
 * 
 * @param $background-color | define background color
 * background-color : rgba(255, 255, 255, 0.1);
 *
 * @param $radius | define trackbar with radius
 */
/**
 * @description
 * Generate linear gradient
 *
 * @param $from-color | define initial color
 * $from-color: rgba(255, 255, 255, 0.5);
 * 
 * @param $to-color | define end color
 * $to-color: rgba(255, 255, 255, 0.1);
 * 
 * @param $deg | is defined by the center of the box containing the gradient image and by an angle
 * $deg: 217deg | 0deg | top | top bottom | left | 0.25turn
 */
/**
 * @description
 * Set element is selectable only text or none
 *
 * @param $value: contain | text | none
 *
 */
.bebasFont {
  font-family: "Bebas Neue", cursive;
}

.openSansFont {
  font-family: "Open Sans", sans-serif;
}

.ubuntuFont {
  font-family: "Ubuntu", sans-serif;
}

.oswaldFont, .app-frame .navbar, h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.robotoFont, html,
body {
  font-family: "Roboto", sans-serif;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
}

.bebasFont {
  font-family: "Bebas Neue", cursive;
}

.openSansFont {
  font-family: "Open Sans", sans-serif;
}

.ubuntuFont {
  font-family: "Ubuntu", sans-serif;
}

.oswaldFont, .app-frame .navbar, h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.robotoFont, html,
body {
  font-family: "Roboto", sans-serif;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 400;
}

p {
  margin: 1em 0;
}

.shimmer {
  margin: 0 auto;
  display: inline;
  margin-bottom: 0;
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #aeaeae;
}

@keyframes shimmer {
  0% {
    background-position: -160% 0%;
  }
  100% {
    background-position: 160% 0%;
  }
}
#preloader {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 30%;
  transform: scale(0.5);
}

.mask {
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  perspective: 1000;
  backface-visibility: hidden;
}

.plane {
  background: #ffffff;
  width: 400%;
  height: 100%;
  position: absolute;
  transform: translate3d(0px, 0, 0);
  /*transition: all 0.8s ease; */
  z-index: 100;
  perspective: 1000;
  backface-visibility: hidden;
}

.animation {
  transition: all 0.3s ease;
}

#top .plane {
  z-index: 2000;
  animation: trans1 1.3s ease-in infinite 0s backwards;
}

#middle .plane {
  transform: translate3d(0px, 0, 0);
  background: #bbbbbb;
  animation: trans2 1.3s linear infinite 0.3s backwards;
}

#bottom .plane {
  z-index: 2000;
  animation: trans3 1.3s ease-out infinite 0.7s backwards;
}

#top {
  width: 53px;
  height: 20px;
  left: 20px;
  transform: skew(-15deg, 0);
  z-index: 100;
}

#middle {
  width: 33px;
  height: 20px;
  left: 20px;
  top: 15px;
  transform: skew(-15deg, 40deg);
}

#bottom {
  width: 53px;
  height: 20px;
  top: 30px;
  transform: skew(-15deg, 0);
}

@keyframes trans1 {
  from {
    transform: translate3d(53px, 0, 0);
  }
  to {
    transform: translate3d(-250px, 0, 0);
  }
}
@keyframes trans2 {
  from {
    transform: translate3d(-160px, 0, 0);
  }
  to {
    transform: translate3d(53px, 0, 0);
  }
}
@keyframes trans3 {
  from {
    transform: translate3d(53px, 0, 0);
  }
  to {
    transform: translate3d(-220px, 0, 0);
  }
}
@keyframes animColor {
  from {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: green;
  }
  75% {
    background: brown;
  }
  to {
    background: blue;
  }
}
.console-container {
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex !important;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 14px;
  line-height: 22px;
}

* * {
  box-sizing: border-box;
}

.app-frame {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.app-frame .navbar {
  width: 200px;
  background: black;
  color: white;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  position: fixed;
  top: 0;
  transition: all 300ms;
}
@media (min-width: 0px) and (max-width: 1203px) {
  .app-frame .navbar .item-collection {
    display: inherit;
  }
}
.app-frame .navbar .item {
  padding: 15px 0;
  font-size: 20px;
  border-bottom: 1px solid #333333;
}
.app-frame .navbar .item.logo-container {
  border: none;
  margin-bottom: 20%;
}
.app-frame .navbar .item.copyright {
  border: none;
  margin-top: auto;
  font-size: 14px;
  margin-bottom: -20px;
  color: gray;
}
.app-frame .navbar .item.contact {
  border: none;
}
.app-frame .navbar .logo {
  width: 140px;
  height: 140px;
  background: #ffcc00;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
@media (min-width: 768px) and (max-width: 1203px) {
  .app-frame .navbar {
    flex-direction: row;
    width: 100vw;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .app-frame .navbar .logo-container {
    margin-bottom: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 !important;
  }
  .app-frame .navbar .logo-container .logo {
    width: 62px;
    height: 62px;
    font-size: 1em;
  }
  .app-frame .navbar .item {
    padding: 0 15px;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 18px;
  }
  .app-frame .navbar .copyright {
    display: none;
  }
}
.app-frame .frame-container {
  width: calc(100vw - 200px);
  height: 100vh;
  margin-left: 200px;
  overflow: hidden;
  background: white;
  color: black;
  scroll-behavior: smooth;
  transition: all 500ms;
}
.app-frame .frame-container .frame-horizontal {
  width: 700vw;
  transition: margin-left 1s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
}
.app-frame .frame-container .frame-horizontal.moveOn > .item:before {
  width: 90px;
  height: 100%;
  top: 0;
  background: inherit;
  border-radius: 50%;
  margin-left: -80px;
}
.app-frame .frame-container .item {
  width: calc(100vw - 400px);
  height: 100vh;
  display: inline-block;
  padding: 30px;
  overflow: auto;
}
.app-frame .frame-container .item::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.app-frame .frame-container .item::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0;
}
.app-frame .frame-container .item::-webkit-scrollbar-track {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}
.app-frame .frame-container .item body {
  scrollbar-face-color: gray;
  scrollbar-track-color: black;
}
.app-frame .frame-container .item:before, .app-frame .frame-container .item:after {
  transition: all 300ms;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  background: inherit;
}
.app-frame .frame-container .item.frame-home {
  background: #616161;
  color: white;
  padding: 0;
  transition: all 300ms;
}
.app-frame .frame-container .item.frame-about {
  background: white;
}
.app-frame .frame-container .item.frame-skills {
  background: #f7f7f7;
}
.app-frame .frame-container .item.frame-experience {
  background: white;
}
.app-frame .frame-container .item.frame-education {
  background: #f7f7f7;
}
.app-frame .frame-container .item.frame-portfolio {
  background: white;
  width: calc(100vw - 200px);
}
.app-frame .frame-container .item.frame-contact {
  background: #f7f7f7;
}
.app-frame .frame-container .item.frame-blog {
  background: white;
}
.app-frame .frame-container .hero {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-frame .frame-container .hero .dinamic {
  opacity: 0;
}
.app-frame .frame-container .hero .static {
  opacity: 1;
}
.app-frame .frame-container .hero .image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: inherit;
}
.app-frame .frame-container .hero .image img {
  filter: grayscale(100%);
  width: auto;
  height: inherit;
}
.app-frame .frame-container .hero h2 {
  border: none;
  color: #FFF;
  text-transform: uppercase;
  line-height: 50px;
  padding-bottom: 0;
  font-size: 45px;
  margin-bottom: 35px;
  transition: all 300ms;
}
.app-frame .frame-container .hero h2 span {
  font-weight: 300;
}
.app-frame .frame-container .hero .title {
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #7a7a7a;
  color: #aeaeae;
  padding: 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
}
.app-frame .frame-container .inner {
  padding: 70px;
}
.app-frame .frame-container .inner h2 {
  font-size: 45px;
  margin: 0;
  line-height: 45px;
}
.app-frame .frame-container .inner h3 {
  font-size: 16px;
  margin: 50px 0 10px;
}
.app-frame .frame-container .inner .title-divider {
  width: 70px;
  height: 5px;
  background-color: #ffb400;
  margin: 30px 0 50px 0;
}
.app-frame .frame-container .inner .about-con {
  width: 100%;
  width: 60%;
}
.app-frame .frame-container .inner .about-con ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app-frame .frame-container .inner .about-con ul li {
  border-bottom: 1px solid #dfdfdf;
  padding: 12px 0;
}
.app-frame .frame-container .inner .about-con ul li:first-child {
  padding: 0 0 12px 0;
}
.app-frame .frame-container .inner .button {
  border: 2px solid #ffb400;
  background-color: #FFF;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 15px;
  display: inline-block;
  letter-spacing: 1px;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
@media (min-width: 768px) and (max-width: 1203px) {
  .app-frame .frame-container {
    width: 100vw;
    margin-left: 0;
    transition: all 500ms;
  }
  .app-frame .frame-container .item {
    width: 100vw;
  }
}
.app-frame.intro .navbar {
  transform: translate(-100%, 0);
}
.app-frame.intro .frame-container {
  width: 100vw;
  margin-left: 0;
}
.app-frame.intro .frame-container .frame-horizontal .item {
  opacity: 0;
}
.app-frame.intro .frame-container .frame-horizontal .item.frame-home {
  opacity: 1;
  width: 100vw;
  transform: scale(3);
  background: #000;
}
.app-frame.intro .frame-container .frame-horizontal .item.frame-home .title {
  color: rgba(255, 255, 255, 0.1) !important;
}
.app-frame.intro .frame-container .frame-horizontal .item.frame-home .dinamic {
  opacity: 1;
}
.app-frame.intro .frame-container .frame-horizontal .item.frame-home .static {
  opacity: 0;
  display: none;
}