
.openSansFont {
    font-family: 'Open Sans', sans-serif;
}

.ubuntuFont {
    font-family: 'Ubuntu', sans-serif;
}

.oswaldFont {
    font-family: 'Oswald', sans-serif;
}

.robotoFont {
    font-family: 'Roboto', sans-serif;
}

.inconsolata {
    font-family: 'Inconsolata', monospace;
}