$webkit-tap-hightlight: #197edd;
$ins-color: black;
$mark-color: black;
$selection-color: black;
$selection-text-color: black;
$primary-text: black;

$accentColor: #ee9510;
$secondaryColor: #db47a3;

// Layout VARS
$paddingHeight: 30px;
$paddingWidth: 80px;
$headerHeight: 75px;
$paddingWidthSectionDesktopHuge: 30%;
$paddingWidthSectionDesktopWide: 20%;
$paddingWidthSectionDesktop: 5%;
$paddingWidthSectionTablet: 10%;
$paddingWidthSectionMobile: 2%;

// FONTS
$openSansFont: 'Open Sans', sans-serif;
$ubuntuFont: 'Ubuntu', sans-serif;
$oswaldFont: 'Oswald', sans-serif;
$robotoFont: 'Roboto', sans-serif;
$inconsolata: 'Inconsolata', monospace;
