$webkit-tap-hightlight: #197edd;
$ins-color: black;
$mark-color: black;
$selection-color: black;
$selection-text-color: black;
$primary-text: black;




$accentColor: #ee9510;

// Layout VARS
$paddingHeight: 30px;
$paddingWidth: 80px;
$headerHeight: 75px;

// FONTS
$openSansFont: 'Open Sans', sans-serif;
$ubuntuFont: 'Ubuntu', sans-serif;
$oswaldFont: 'Oswald', sans-serif;
$robotoFont: 'Roboto', sans-serif;
$inconsolata: 'Inconsolata', monospace;