.skills-container {
    flex-direction: column;

    .skills-section {
        padding: 30px;
        width: 50%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &.section-2 {
            position: absolute;
            top: 45%;
        }
    }
}

.title-page {
    // position: absolute;
    top: 0vh;
    right: 0;
}

.content {
    width: 60%;
}

.list-container {
    display: flex;
}

.container-flex {
    display: flex;
    margin-top: 30px;

    .paths {
        width: 100%;

        .knowpath-container {
            display: flex;
            flex-direction: column;
        }

        .knowpath {
            display: flex;
            flex-wrap: wrap;

            h3 {
                margin-top: 20px;
            }

            width: calc(100%);
        }

        h3 {
            margin-bottom: 20px;
        }
    }

    .skills {
        width: 30%;
    }
}

.skills-collection {
    padding: 0 20px 0 0;
}

.item-skill {
    margin-bottom: 10px;

    .name {
        b {
            display: inline-block;
        }
    }

}

.list-section {
    display: flex;

    .list-item {
        position: relative;
        cursor: pointer;

        .picture {
            width: 80%;

            img {
                width: inherit;
                height: auto;
                // margin: -18px;
            }
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 10px;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(4px);
            opacity: 0;


            .name {
                font-size: 150%;
            }

            // .level-experience {}

            // .level-knowledge {}
        }

        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }
}