---
import Main from "../layouts/Main.astro";

import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Portafolio from "../components/Portafolio.astro";
---

<Main title="SERGAL.">
  <div class="app-page">
    <header>
      <div class="header-item">
        <div class="logo">SERGAL<span>.</span></div>
      </div>

      <nav>
        <div class="header-item"><button class="link"  >About</button></div>
        <div class="header-item"><button class="link" >Experience</button></div>
        <div class="header-item"><button class="link" >Skills</button></div>
        <div class="header-item"><button class="link" >Portfolio</button></div>
      </nav>
    </header>
    
    <main>
      <section id="about" class="section-relative" > <About /> </section>
      <section id="experience" class="section-relative" > <Experience /> </section>
      <section id="skills" class="section-relative" > <Skills /> </section> 
      <section id="portfolio" class="section-relative" > <Portafolio /> </section> 
    </main>
  </div>

</Main>

<script>
  import { APP } from "../data/index";
  const app = new APP();
  window.onload = (e) => {
    app.init();
    console.log("loaded!");
  };
</script>
