---
import MainUI from "../layouts/MainUI.astro";

import About from "../components-new/About.astro";
import Skills from "../components-new/Skills.astro";
import Experience from "../components-new/Experience.astro";
import Portfolio from "../components-new/portfolio.astro";
---

<MainUI title="SERGAL Webpage">
  <div class="page">
    <header>
      <div class="item">
        <div class="logo">SERGAL <span>.</span></div>
      </div>

      <nav>
        <div class="item"><a href="#">About</a></div>
        <div class="item"><a href="#">Experience</a></div>
        <div class="item"><a href="#">Skills</a></div>
        <div class="item"><a href="#">Portfolio</a></div>
      </nav>
    </header>
    
    <main>
      <section class="about"> <About /> </section>
      <section class="skills"> <Skills /> </section>
      <section class="experience"> <Experience /> </section>
      <section class="portfolio"> <Portfolio /> </section>
    </main>
  </div>

</MainUI>

<!-- <script>
  import { APP } from "../data/main";
  const app = new APP();
  window.onload = (e) => {
    app.init();
    console.log("loaded!");
  };
</script> -->
