@import "../../../../../scss/core/mixins";

experience {
    width: 100%;

    .experience-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        max-width: 100vw;

        titlepage-component {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        .description {
            width: 100%;
        }

        .experience-section {
            padding: 30px;
            width: 50%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &.section-2 {
                position: absolute;
                top: 45%;
            }
        }

        timeline {
            .timeline-component {
                @include desktop {
                    height: 50vh;
                }

                @include desktop-wide {
                    height: 55vh;
                }
            }
        }
    }
}