<div class="app-page">
  <header>
    <div class="header-item">
      <div class="logo"><span>SERGAL</span><span class="accent">.</span></div>
    </div>

    <nav>
      <div class="header-item"><button class="link">About</button></div>
      <div class="header-item"><button class="link">Experience</button></div>
      <div class="header-item"><button class="link">Skills & Portfolio</button></div>
    </nav>
  </header>

  <main>
    <!-- <div class="title-page" id="main-title">s
        <div class="title-page-name" id="main-title-name">Sergio Gallegos</div>
        <div class="title-page-description" id="main-title-description"><b><span class="accent">/</span>Developer<span class="accent">.</span></b></div>
    </div> -->
    <!-- 
    <div class="title-page" id="main-title-header">
      <div class="title-page-name">Sergio Gallegos</div>
      <div class="title-page-title">FRONTEND <span class="accent">•</span> BACKEND</div>
      <div class="title-page-description"><b><span class="accent">/</span>Developer<span class="accent">.</span></b></div>
  </div> -->


    <section id="about" class="section-relative">
      <about></about>
    </section>
    <section id="experience" class="section-relative">
      <experience></experience>
    </section>
    <section id="skills" class="section-relative">
      <skills></skills>
    </section>
  </main>
</div>


