<div class="app-page" [ngClass]="{'loadingLanguage': loadingLanguage }">
  <main>
    <div class="header-root">
      <div class="header-item">
        <div class="logo" (click)="goTo('init');"><span>SERGAL</span><span class="accent">.</span></div>
      </div>

      <nav>
        <div class="header-item nav-link {{ menu.section }}" *ngFor="let menu of menus"
          [ngClass]="{'active': menu.active }" [innerHTML]="menu.name" (click)="goTo(menu.section)">
        </div>

        <div class="header-item mobile-menu" (click)="toogleMenu()">
          <span class="material-icons">menu</span> {{ 'GLOBAL.menu_label'| translate }}
        </div>

        <div class="header-item language">
          <span>{{ currentLangMask }}</span>

          <div class="header-item language-drop">
            <ng-container *ngFor="let lang of browserLangs">
              <div class="item" (click)="changeLang(lang)" [ngClass]="{'current': lang === currentLang }">
                <span>{{ 'GLOBAL.' + lang | translate }}</span>
              </div>
            </ng-container>
          </div>
        </div>

      </nav>
    </div>

    <div class="mobile-nav-container" [ngClass]="{'show_menu': mobileMenuOpen}">
      <div class="mobile-nav-menu">
        <ng-container *ngIf="mobileMenuOpen">
          <div class="header-item">
            <div class="logo" (click)="goTo('init');"><span>SERGAL</span><span class="accent">.</span></div>
          </div>

          <div class="header-item nav-link-mobile {{ menu.section }}" *ngFor="let menu of menus"
            [ngClass]="{'active': menu.active }" [innerHTML]="menu.name" (click)="goTo(menu.section)">
          </div>

          <div class="header-item close" (click)="toogleMenu()">
            <span class="material-icons">close</span>
          </div>
        </ng-container>
      </div>
    </div>

    <section id="init" class="section-relative">
      <main-element-component></main-element-component>
    </section>
    <section id="about" class="section-relative">
      <about></about>
    </section>
    <section id="experience" class="section-relative">
      <experience></experience>
    </section>
    <section id="skills" class="section-relative">
      <skills></skills>
    </section>
    <section id="portfolio" class="section-relative">
      <portfolio-list></portfolio-list>
    </section>
  </main>

  <div class="loaderLanguageComponet"></div>
</div>