<div class="container about-container">
    <div class="about-section about-text-01">
        <h3>{{ 'ABOUT.about.title' | translate }}</h3>

        <p>{{ 'ABOUT.about.description1' | translate }}</p>
        <p>{{ 'ABOUT.about.description2' | translate }}</p>
        <p>{{ 'ABOUT.about.description3' | translate }}</p>
        <p>{{ 'ABOUT.about.description4' | translate }} <br><b>{{ 'ABOUT.about.contactme' | translate}}</b></p>
        <p><a href='mailto:sergio.gallegos@live.com.mx'>sergio.gallegos&#64;live.com.mx</a></p>
    </div>

    <div class="about-section about-text-02">
        <h3>{{ 'ABOUT.specialties.title' | translate }}</h3>
        <p>
            <b>{{ 'ABOUT.specialties.descriptionTitle1' | translate }}</b>
            {{ 'ABOUT.specialties.description1' | translate }}
        </p>
        <p>
            <b>{{ 'ABOUT.specialties.descriptionTitle2' | translate }}</b>
            {{ 'ABOUT.specialties.description2' | translate }}
        </p>
        <p>
            <b>{{ 'ABOUT.specialties.descriptionTitle3' | translate }}</b>
            {{ 'ABOUT.specialties.description3' | translate }}
        </p>
        <p>
            <b>{{ 'ABOUT.specialties.descriptionTitle4' | translate }}</b>
            {{ 'ABOUT.specialties.description4' | translate }}
        </p>
    </div>
</div>