@import "../../../../../scss/theme/keyframes.scss";
@import "../../../../../scss/core/mixins";

about {
    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap !important;
        gap: 30px;

        titlepage-component {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .about-section {
            padding: 0;
            width: calc(50% - 20px);

            &:first-child {
                padding-left: 0;
                padding: 0;
            }

            &:last-child {
                padding-right: 0;
                padding: 0;
            }

            &.section-2 {
                position: absolute;
                top: 45%;
            }

            &.section-1 {
                display: flex;
                flex-wrap: wrap;

                h3 {
                    width: 100%;
                }

                p {
                    width: calc((100% / 4) - 20px);
                    margin-right: 20px;

                    b {
                        height: 40px;
                        line-height: 1.4;
                        margin-bottom: 20px;
                        width: 100%;
                        display: inline-block;
                    }
                }
            }

            @include mobile {
                width: 100%;
            }

            @include desktop {
                p {
                    font-size: rem(14);
                }
            }

            @include desktop-wide {
                p {
                    font-size: rem(18);
                }
            }

            @include desktop-ultra {
                p {
                    font-size: rem(22);
                }
            }
        }

        .about-inner {
            display: flex;

            p {
                width: 50%;
            }
        }
    }
}