---
let { title, name, position } = Astro.props;

const data = {
  title: "Hello, I'm ",
  name: "Sergio Gallegos",
  position: "Frontend Developer / Backend Developer",
};

title = data.title;
name = data.name;
position = data.position;
---

<div class="hero">
  <div class="text">
    <h2>
      <span>{title}</span><br />
      {name}
    </h2>
    <span class="title">
      {position}
    </span>
  </div>
</div>
