@import "../core/globals.scss";
@import "../core/mixins";
@import "./keyframes.scss";

.debugger * * {
    outline: 1px dotted rgba(238, 130, 238, 0.3);
}

.accent {
    font-size: inherit;
    font-weight: 700;
    color: $accentColor;
}

.logo {
    font-size: rem(40);
    font-weight: 700;

    .accent {
        font-size: rem(50);
        font-weight: inherit;
        color: $accentColor;
        line-height: 0.1;
    }

    @include mobile {
        font-size: rem(25) !important;
    }
}

.loadingLanguage {
    * div {
        animation-name: heartbeatSlow;
        animation-duration: .5s;

    }

    .loaderLanguageComponet {
        position: fixed;
        bottom: 20px;
        right: 20px;
        animation: rotate 1s linear infinite;
        display: inline-block;
    }
}

.app-page {
    width: 100vw;
    min-height: 100vh;
    padding: 0px;
    color: black;
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 2;

    main {
        scroll-timeline-name: --main-scroll;
        scroll-snap-type: both mandatory;
        scroll-snap-points-y: repeat(200vh);
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
        @include scroll(5px, $accentColor, black, 0px);

        @include mobile {
            scroll-snap-type: none;
            scroll-snap-points-y: unset;
        }

    }

    .header-root {
        display: flex;
        font-size: rem(18);
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        height: $headerHeight;
        position: fixed;
        width: calc(100%);
        z-index: 10;
        transition: all 300ms;
        animation: header-root-scroll linear forwards;
        animation-timeline: --main-scroll;
        animation-range: 0 20%;
        background: rgba(255, 255, 255, 0.15);

        @include mobile {
            animation-range: 0 10%;
        }

        @include mobile {
            padding: 0 $paddingWidthSectionMobile;
        }

        @include tablet {
            padding: 0 $paddingWidthSectionTablet;
        }

        @include desktop {
            padding: 0 $paddingWidthSectionDesktop;
        }

        @include desktop-wide {
            padding: 0 $paddingWidthSectionDesktopWide;
        }

        @include desktop-huge {
            padding: 0 $paddingWidthSectionDesktopHuge;
        }

        @include desktop-ultra {
            padding: 0 $paddingWidthSectionDesktopUltra;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            margin-left: auto;
            gap: 30px;

            @include mobile {
                gap: 10px;
            }

            .header-item {
                font-size: rem(18);

                &:last-child {
                    margin-right: 0;
                }

                &.nav-link {
                    border-bottom: 3px solid transparent;
                    transition: all 300ms;
                    cursor: pointer;
                    text-transform: uppercase;
                }

                &.nav-link {
                    @include mobile {
                        display: none;
                    }
                }

                &.active {
                    border-bottom: 3px solid $accentColor;
                    color: $accentColor;
                }

                &.language {
                    border-bottom: 3px solid transparent;
                    border-bottom: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    width: auto;
                    text-align: center;

                    .language-drop {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        background: #d3d3d3;
                        color: gray;
                        width: inherit;
                        margin-left: -60px;
                        margin-top: -37px;
                        margin-top: 0;
                        transition: all 300ms;
                        transform: translate(0, 0) rotateY(90deg);
                        opacity: 0;
                        user-select: none;
                        width: 120px;

                        .item {
                            padding: 2px 10px;

                            &:hover {
                                background: gray;
                                color: black;
                            }

                            &.current {
                                opacity: 0.5;
                            }
                        }
                    }

                    &:hover {
                        .language-drop {
                            transform: translate(30px, 0) rotateY(0deg);
                            opacity: 1;
                        }
                    }
                }


                &.mobile-menu {
                    display: none;

                    @include mobile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                @include mobile {
                    font-size: rem(16);
                }
            }
        }

        &.float {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(3px);

            width: 100vw;
            left: 0;
            top: 0;
            padding: $paddingHeight $paddingWidth 0;
            padding-right: calc($paddingWidth + 17px);
        }
    }

    .mobile-nav-container {
        .mobile-nav-menu {
            transition: all 300ms;
            transform: translateX(-200%);
            width: 100vw;
            height: 100vh;
            position: fixed;
            background: #000000;
            color: white;
            z-index: 100;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: flex-start;
            align-items: center;

            .header-item {
                padding: 10px 20px;
                text-transform: uppercase;
                font-size: rem(40);

                .logo {
                    font-size: rem(50) !important;
                }

                &.close {
                    margin-top: auto;

                    .material-icons {
                        font-size: rem(45);
                    }
                }
            }
        }

        &.show_menu {
            .mobile-nav-menu {
                transform: translateX(0);
            }
        }
    }

    main-element-component {
        #main-title {
            @include mobile {
                transform: scale(0.7);
                text-align: center;
            }
        }
    }

    @include mobile {
        p {
            font-size: em(20);
            line-height: 1.4;
        }

        h3 {
            font-size: em(25);
            line-height: 2;
        }
    }
}

section {
    padding: 50px;
    max-width: 100vw;

    @include mobile {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionMobile;
    }

    @include tablet {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionTablet;
    }

    @include desktop {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktop;
    }

    @include desktop-wide {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktopWide;
    }

    @include desktop-huge {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktopHuge;
    }

    @include desktop-ultra {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktopUltra;
    }

    &.section-relative {
        position: relative;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        margin: 0;

        &.full {
            min-height: 100vh;
        }

        .container {
            display: flex;
            flex-wrap: nowrap;
            font-size: rem(14);
            position: relative;

            &_column {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

    &#init {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: black;
        color: white;
    }

    &#about,
    &#experience,
    &#skills,
    &#portfolio {
        @include mobile {
            min-height: unset;
            height: auto;
        }
    }

    about,
    experience,
    skills {
        titlepage-component {
            @include mobile {
                display: flex;
                justify-content: center !important;
            }

            .title-page {

                .title-page-title,
                .title-page-description {
                    @include mobile {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    portfolio-list {
        titlepage-component {
            .title-page {

                .title-page-title,
                .title-page-description {
                    @include mobile {
                        font-size: 50px;
                    }
                }
            }
        }
    }
}

.loaderLanguageComponet {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    display: none;

    &::before,
    &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid $secondaryColor;
        animation: prixClipFix 2s linear infinite;
    }

    &::after {
        border-color: $accentColor;
        animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
        inset: 6px;
    }
}

.transition-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: all 300ms;

    .item {
        width: inherit;
        height: inherit;
        transition: all 300ms;
        position: absolute;
        top: 0;
        left: 0;

        &.orange {
            background: $accentColor;
            transition: all 300ms;
            transition-delay: 0;
        }

        &.red {
            background: red;
            transition: all 300ms;
            transition-delay: 200ms;
        }

        &.blue {
            background: blue;
            transition: all 300ms;
            transition-delay: 400ms;
        }
    }


}

@keyframes heartbeatSlow {

    35%,
    65% {
        opacity: 0.8;
    }
}

@keyframes header-root-scroll {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        backdrop-filter: blur(3px);
    }
}


// responsive matters
p {
    @include desktop {
        font-size: rem(18);
    }

    @include desktop-wide {
        font-size: rem(23);
    }

    @include desktop-huge {
        font-size: rem(25);
    }

    @include desktop-ultra {
        font-size: rem(28);
    }
}