@import "../core/globals.scss";
@import "../core/mixins";
@import "./keyframes.scss";

.debugger * * {
    outline: 1px dotted rgba(238, 130, 238, 0.3);
}

.accent {
    font-size: inherit;
    font-weight: 700;
    color: $accentColor;
}

.logo {
    font-size: rem(40);
    font-weight: 700;

    .accent {
        font-size: rem(50);
        font-weight: inherit;
        color: $accentColor;
        line-height: 0.1;
    }
}

.loadingLanguage {
    * div {
        // background: #f0f0f0;
        // color: #f0f0f0;
        // opacity: 0.5;
        // transition: background 300ms ease;
        // animation-duration: 1s;
        // animation-fill-mode: both;
        // // transition: all 300ms;
        // animation-name: danceMiddle;
        animation-name: heartbeatSlow; 
        // animation-iteration-count: infinite;
        animation-duration: .5s;

    }

    .loaderLanguageComponet {
        position: fixed;
        bottom: 20px;
        right: 20px;
        animation: rotate 1s linear infinite;
        display: inline-block;
    }
}

.app-page {
    width: 100vw;
    min-height: 100vh;
    padding: 0px;
    color: black;
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 2;

    main {
        scroll-timeline-name: --main-scroll;
        scroll-snap-type: both mandatory;
        scroll-snap-points-y: repeat(100vh);
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
        @include scroll(5px, $accentColor, black, 0px);
    }

    .header-root {
        display: flex;
        font-size: rem(18);
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        height: $headerHeight;
        position: fixed;
        width: calc(100%);
        z-index: 10;
        transition: all 300ms;
        animation: header-root-scroll linear forwards;
        animation-timeline: --main-scroll;
        animation-range: 0 20%;
        background: rgba(255, 255, 255, 0.15);

        @include mobile {
            padding: 0 $paddingWidthSectionMobile;
        }

        @include tablet {
            padding: 0 $paddingWidthSectionTablet;
        }

        @include desktop {
            padding: 0 $paddingWidthSectionDesktop;
        }

        @include desktop-wide {
            padding: 0 $paddingWidthSectionDesktopWide;
        }

        @include desktop-huge {
            padding: 0 $paddingWidthSectionDesktopWide;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            margin-left: auto;

            .header-item {
                margin-right: 30px;
                font-size: rem(18);

                &:last-child {
                    margin-right: 0;
                }

                &.nav-link {
                    border-bottom: 3px solid transparent;
                    transition: all 300ms;
                    cursor: pointer;
                    text-transform: uppercase;
                }

                &.active {
                    border-bottom: 3px solid $accentColor;
                }

                &.language {
                    border-bottom: 3px solid transparent;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    width: 50px;
                    text-align: center;

                    .language-drop {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        background: #d3d3d3;
                        color: gray;
                        width: inherit;
                        margin-left: -60px;
                        margin-top: -37px;
                        margin-top: 0;
                        transition: all 300ms;
                        transform: translate(0, 0) rotateY(90deg);
                        opacity: 0;
                        user-select: none;
                        width: 120px;

                        .item {
                            padding: 2px 10px;

                            &:hover {
                                background: gray;
                                color: black;
                            }

                            &.current {
                                opacity: 0.5;
                            }
                        }
                    }

                    &:hover {
                        .language-drop {
                            transform: translate(30px, 0) rotateY(0deg);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.float {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(3px);

            width: 100vw;
            left: 0;
            top: 0;
            padding: $paddingHeight $paddingWidth 0;
            padding-right: calc($paddingWidth + 17px);
        }
    }

    main-element-component {
        // position: absolute;
        // transition: all 300ms;
        // transform: translate(0%, 0%);

        #main-title {
            @include desktop-wide {
                // transform: translate(-60%, 0%) scale(80%);
            }

            // animation: move-title linear both;
            // animation-timeline: scroll();
            // animation-range: 0% 70vh;
            // animation-fill-mode: forwards;
        }
    }

}

section {
    padding: 50px;
    padding-top: 90px;

    @include mobile {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionMobile;
    }

    @include tablet {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionTablet;
    }

    @include desktop {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktop;
    }

    @include desktop-wide {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktopWide;
    }

    @include desktop-huge {
        padding: calc(#{$headerHeight} + 20px) $paddingWidthSectionDesktopWide;
    }

    &.section-relative {
        position: relative;
        width: 100vw;

        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        margin: 0;

        &.full {
            min-height: 100vh;
        }

        .container {
            display: flex;
            flex-wrap: nowrap;
            font-size: rem(14);
            position: relative;

            &_column {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

     &#init {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: black;
        color: white;
    }

    &#skills {
        // padding-bottom: 0;
    }

    &#portfolio {
        // padding-top: 0;
    }
}

.loaderLanguageComponet {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    display: none;

    &::before,
    &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid $secondaryColor;
        animation: prixClipFix 2s linear infinite;
    }

    &::after {
        border-color: $accentColor;
        animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
        inset: 6px;
    }
}

.transition-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: all 300ms;

    .item {
        width: inherit;
        height: inherit;
        transition: all 300ms;
        position: absolute;
        top: 0;
        left: 0;

        &.orange {
            background: $accentColor;
            transition: all 300ms;
            transition-delay: 0;
        }

        &.red {
            background: red;
            transition: all 300ms;
            transition-delay: 200ms;
        }

        &.blue {
            background: blue;
            transition: all 300ms;
            transition-delay: 400ms;
        }
    }


}

@keyframes danceMiddle {
    16% { transform: skew(-14deg) }
    33% { transform: skew(12deg) }
    49% { transform: skew(-8deg) }
    66% { transform: skew(6deg) }
    83% { transform: skew(-4deg) }
}

@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes heartbeatSlow {
    35%, 65% { opacity: 0.8; }
}

@keyframes header-root-scroll {
	from {
        opacity: 0;
        transform: translateY(-100%);
	}
	to {
        opacity: 1;
        transform: translateY(0);
        backdrop-filter: blur(3px);
	}
}