@import "../core/globals.scss";
@import "../core/mixins";
@import "components.scss";

.debugger * * {
    outline: 1px dotted rgba(238, 130, 238, 0.3);
}

.accent {
    font-size: inherit;
    font-weight: 700;
    color: $accentColor;
}

.app-page {
    width: 100vw;
    min-height: 100vh;
    padding: 0px;
    color: black;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $openSansFont;
    position: relative;
    line-height: 2;

    .logo {
        font-size: rem(40);
        font-weight: 700;
        .accent {
            font-size: rem(50);
            font-weight: inherit;
            color: $accentColor;
            line-height: 0.1;
        }
    }

    header {
        display: flex;
        font-size: rem(18);
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        height: $headerHeight;
        position: fixed;
        width: calc(100% + 17px);
        padding: 0 $paddingWidth;
        z-index: 10;
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(3px);

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            margin-left: auto;


            .header-item {
                margin-right: 30px;
                font-size: rem(18);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.float {
            background: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(3px);

            width: 100vw;
            left: 0;
            top: 0;
            padding: $paddingHeight $paddingWidth 0;
            padding-right: calc($paddingWidth + 17px);
        }

        animation-timeline: scroll(root block);;
        animation-name: nav-scroll;
        animation-range: 0% 18%;
        animation-fill-mode: forwards;
        transition: all 300ms;
    }
}


.section-relative {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 0 $paddingWidth;
    padding-top: calc($headerHeight + 10px);
    padding-bottom: calc($paddingHeight * 2);

    .container {
        display: flex;
        flex-wrap: nowrap;
        font-size: rem(14);
        position: relative;
    }
}

$timeAnimationTitle:300ms;

.title-page {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    line-height: 1;

    .title-page-name, .title-page-name-alt {
        font-size: rem(25);
        transition: all #{$timeAnimationTitle};
    }

    .title-page-title {
        font-size: rem(70);
        text-transform: uppercase;
        transition: all #{$timeAnimationTitle};
    }

    .title-page-description {
        font-size: rem(70);
        text-transform: uppercase;
        transition: all #{$timeAnimationTitle};
    }

    .accent {
        color: $accentColor;
        transition: all #{$timeAnimationTitle};
    }

    .initials {
        text-transform: uppercase;
    }
    .subinitials {
        text-transform: uppercase;
        margin-right: 10px;
    }

    span {
        transition: all #{$timeAnimationTitle};
    }
}

#about-title {
    animation-timeline: scroll(root block);;
    animation-name: titleAnimationAbout;
    animation-range: 0% 15%;
    animation-fill-mode: forwards;
    transition: transform, opacity, margin 1000ms;
    margin: 10% 0 40%;

    .title-page-name {
        .accent {
            display: none;
        }

        transition-delay: 0ms;
        display: flex;
        div { 
            position: relative;
            text-transform: uppercase; 
            transform: translateX(0%);
            &:nth-child(1) { transition-duration: 300ms; }
            &:nth-child(2) { transition-duration: 600ms; }
            &:nth-child(3) { transition-duration: 300ms; }
            &:nth-child(4) { transition-duration: 600ms; }
        }
    }

    .title-page-title { transition-delay: 0ms; }

    .title-page-description { transition-delay: 0ms; }

    .accent { transition-delay: 0ms; }


    &.collapsed {
        margin: 30% 0% 5%;

        .title-page-name {
            transform: translateX(0%) translateY(-45%);
            font-size: calc(2.5 * 1rem);
            font-weight: 700;

            .initials {
                opacity: 1;
                    
            }
            .initials2 { transform: translateX(-91%); }
            .subinitials {
                // text-transform: lowercase;
                opacity: 0;
                transform: translateX(-150%);
                margin: 0;
            }
            .accent {
                display: inline-block;
            }
        }

        .title-page-title  {
            transform: translateY(-100%);
            opacity: 0;
            span { position: absolute; }
            .front { transform: translateY(100%); }
            .back { transform: translateY(-100%); }
        }

        .title-page-description {
            transform: scale(2) translateX(25%);
        }
    }
}

#main-title {
    top: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 450px;

    position: fixed;
    animation: adjust-image linear both;
    animation-timeline: scroll();
    animation-range: 0% 30%;

    top: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 450px;

    // display: block;
    // height: 20rem;
    // max-height: 50vw;
    // width: auto;
    // margin: 0 auto;
}



#about {
    @import "sections/about.scss";
}

#experience {
    @import "sections/experience.scss";
}

#skills {
    @import "sections/skills.scss";
}

#portfolio {
    @import "sections/portfolio.scss";
}



@keyframes titleAnimationAbout {
    0% {
        // margin: 20% 0 100%;
        // transform: scale(1);
    }

    100% {
        // margin: 0 0 20px;
        // transform: scale(2);
    }
}


@keyframes nav-scroll {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes adjust-image {
    from {
        zoomate: -50% 100% 0;
        translate: 0% 0%
    }

    80% {
        opacity: 0.10;
    }

    to {
        translate: -50% 100% 0;
        scale: 3.5;
        opacity: 0.10;
        rotate: -6deg;
    }
}