@import "core/reset";
@import "core/mixins";
@import "core/typography";

// @import "components/root.scss";
// @import "components/tags.scss";
// @import "components/layout.scss";
// @import "components/aboutSection.scss";
// @import "components/skillsSection.scss";
// @import "components/experienceSection.scss";
// @import "components/portfolioSection.scss";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @extend .openSansFont;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  // letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * * {
    box-sizing: border-box;
  }

  section {
    width: 100vw;
    height: 100vh;
    // max-width: 100vw;
    // max-height: 100vh;
    overflow: hidden;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    position: relative;
    transition: all 300ms;

    // position: fixed;
    // top: 0;
    // left: 0;

    .title {
      position: absolute;
      width: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      line-height: 1;
      h1 {
        font-size: 5em;
      }

      h2 {
        font-size: 4.5em;
      }

      h3 {
        font-size: 4em;
      }

      h4 {
        font-size: 3.5em;
      }

      h5 {
        font-size: 3em;
      }

      h6 {
        font-size: 2.5em;
      }
      span {
        color: gray;
      }
    }
    .image {
      position: absolute;
      width: auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      &.asteroids-main {
        width: 80%;
      }
      &.planet-main {
        width: 50%;
        top: 23%;
      }
      &.developer {
        top: 52%;
        width: 22%;
        left: 22%;
      }
      &.ateroids-planet-layers {
        width: 58%;
        margin-left: 6%;
        top: 14%;
      }
      &.planet-main-layers {
        margin-right: -15%;
        width: 45%;
        top: 10%;
      }
      &.projects {
        width: 35%;
        top: 23%;
      }
      &.city {
        width: 37%;
        top: 14%;
      }
      &.glow-star {
        width: 45%;
        top: 25%;
      }
      &.start {
        width: 18%;
        top: 36%;
      }
      &.constellation {
        width: 75%;
        top: 10%;
      }
      &.citadel-internal {
        top: 29%;
        left: 8%;
      }
      &.citadel-external {
        width: 75%;
        top: 6%;
      }
      &.stars-dark-planet {
        width: 80%;
        top: 5%;
      }
      &.dark-planet {
        top: 25%;
      }
      &.astronaut-1 {
        top: 49%;
        left: 32%;
        width: 19%;
      }
      &.astronaut-2 {
        top: 49%;
        left: -62%;
        width: 30%;
      }
      &.rocks-top-left {
        width: 25%;
        margin-left: 0;
        left: 18%;
        top: 4%;
      }
      &.rocks-top-right {
        width: 25%;
        margin-right: 0;
        right: 18%;
        top: 4%;
      }
      &.rocks-bottom-left {
        width: 25%;
        margin-left: 0;
        left: -7%;
        bottom: 4%;
      }
      &.rocks-bottom-right {
        width: 25%;
        margin-right: 0;
        right: -7%;
        bottom: 4%;
      }
      &.rocks-bottom-center {
        width: 20%;
        bottom: 1%;
      }
    }

    &.intro {
      // height: 2000px;
      .title { top: 6%; }
      .asteroids-main { width: 150%; }
      .planet-main { top: 43%; left: 0; }
      .developer { opacity: 0; top: 60%; left: -10%;}

      &.stage0 {
        .title { top: 3%; }
        .asteroids-main { transform: scale(1.8); }
        .developer { opacity: 0; }
        .planet-main { transform: scale(2); }
      }
      &.stage1 {
        .title { top: 15%; }
        .asteroids-main { transform: scale(1.1); }
        .planet-main { transform: scale(1); top: 25% }
        .developer { opacity: 0 ; top: 80%; left: 20%; }
      }
      &.stage2 {
        .title { top: 22%; }
        .asteroids-main { animation: leftToRight 20s ease infinite; }
        .planet-main { transform: scale(1); top: 30%; left: 5%;}
        .developer { opacity: 1; top: 55%; left: 46%;  }
      }
      &.stage3 {
        transform: perspective(1500px) rotate3d(0, 1, 0, -90deg) scale(2);
        .title { top: 22%; }
        .asteroids-main { }
        .planet-main { transform: scale(1); top: 30%; left: 5%;}
        .developer { opacity: 1; top: 55%; left: 46%;  }
      }
    }
    &.layers {
      opacity: 0;
      .title {
        top: 44%;
        left: -25%;
      }
      &.stage0 {
        // transform: perspective(1500px) rotate3d(0, 1, 0, 274deg) scale(2) translateZ(-150px);
        opacity: 1;
      }
      &.stage1 {
        transform: scale(1) translate(0%, 0%);
        .planet-main-layers {

          animation: rotate 20s ease;
        }
        opacity: 1;
      }
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.projects {
      .title {
        top: 2%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.city {
      .title {
        top: 75%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.star {
      .title {
        top: 7%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.constellation {
      .title {
        top: 81%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.citadel {
      .title {
        top: 9%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.dark-planet {
      .title {
        top: 9%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
    &.end {
      .title {
        top: 29%;
      }
      &.stage0 {}
      &.stage1 {}
      &.stage2 {}
      &.stage3 {}
      &.stage4 {}
      &.stage5 {}
      &.stage6 {}
      &.stage7 {}
      &.stage8 {}
    }
  }

  .anim {
    transition: all 1000ms;
  }
}

* * {
  outline: 1px solid rgba(235, 189, 235, 0.072);
}


@keyframes leftToRight {

	0% { transform: scale(1.2); left: -5% }
  50% {  transform: scale(1); left: 5% }
  100% { transform: scale(1.2); left: -5% }

  0%,
	100% {
		//transition: left 1s ease 300ms;
	}
}

@keyframes rotate {

	0% { transform: rotate(180deg); }
  50% {  transform: rotate(0); }
  100% { transform: rotate(180deg); }

  0%,
	100% {
		//transition: left 1s ease 300ms;
	}
}