@import "core/reset";
@import "core/mixins";
@import "core/typography";

// @import "components/root.scss";
// @import "components/tags.scss";
// @import "components/layout.scss";
// @import "components/aboutSection.scss";
// @import "components/skillsSection.scss";
// @import "components/experienceSection.scss";
// @import "components/portfolioSection.scss";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @extend .openSansFont;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  // letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * * {
    box-sizing: border-box;
  }

  section {
    width: 100vw;
    height: 100vh;
    // max-width: 100vw;
    // max-height: 100vh;
    overflow: hidden;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    position: relative;
    transition: all 300ms;

    // position: fixed;
    // top: 0;
    // left: 0;

    .title {
      position: absolute;
      width: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      line-height: 1;
      h1 {
        font-size: 5em;
      }

      h2 {
        font-size: 4.5em;
      }

      h3 {
        font-size: 4em;
      }

      h4 {
        font-size: 3.5em;
      }

      h5 {
        font-size: 3em;
      }

      h6 {
        font-size: 2.5em;
      }
      span {
        color: gray;
      }
    }
    .image {
      position: absolute;
      width: auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      &.asteroids-main {
        width: 80%;
      }
      &.planet-main {
        width: 50%;
        top: 23%;
      }
      &.developer {
        top: 52%;
        width: 22%;
        left: 22%;
      }
      &.ateroids-planet-layers {
        width: 58%;
        margin-left: 6%;
        top: 14%;
      }
      &.planet-main-layers {
        margin-right: -15%;
        width: 45%;
        top: 10%;
      }
      &.projects {
        width: 35%;
        top: 23%;
      }
      &.city {
        width: 37%;
        top: 14%;
      }
      &.glow-star {
        width: 45%;
        top: 25%;
      }
      &.start {
        width: 18%;
        top: 36%;
      }
      &.constellation {
        width: 75%;
        top: 10%;
      }
      &.citadel-internal {
        width: 50%;
        top: calc(50% - (170px));
      }
      &.citadel-external, &.citadel-external-2 {
        width: 50%;
        top: calc(50% - (170px));
      }
      &.stars-dark-planet {
        width: 80%;
        top: 5%;
      }
      &.dark-planet {
        top: 25%;
      }
      &.astronaut-1 {
        top: 49%;
        left: 32%;
        width: 19%;
      }
      &.astronaut-2 {
        top: 49%;
        left: -62%;
        width: 30%;
      }
      &.rocks-top-left {
        width: 25%;
        margin-left: 0;
        left: 18%;
        top: 4%;
      }
      &.rocks-top-right {
        width: 25%;
        margin-right: 0;
        right: 18%;
        top: 4%;
      }
      &.rocks-bottom-left {
        width: 25%;
        margin-left: 0;
        left: -7%;
        bottom: 4%;
      }
      &.rocks-bottom-right {
        width: 25%;
        margin-right: 0;
        right: -7%;
        bottom: 4%;
      }
      &.rocks-bottom-center {
        width: 20%;
        bottom: 1%;
      }
    }

    &.intro {
      // height: 2000px;
      .title { top: 6%; }
      .asteroids-main { width: 150%; }
      .planet-main { top: 43%; left: 0; }
      .developer { opacity: 0; top: 60%; left: -10%;}

      &.stage0 {
        .title { top: 3%; }
        .asteroids-main { transform: scale(1.8); }
        .developer { opacity: 0; }
        .planet-main { transform: scale(2); }
      }
      &.stage1 {
        .title { top: 15%; }
        .asteroids-main { transform: scale(1.1); }
        .planet-main { transform: scale(1); top: 25% }
        .developer { opacity: 0 ; top: 80%; left: 20%; }
      }
      &.stage2 {
        .title { top: 22%; }
        .asteroids-main { animation: leftToRight 20s ease infinite; }
        .planet-main { transform: scale(1); top: 30%; left: 5%;}
        .developer { opacity: 1; top: 55%; left: 46%;  }
      }
      &.stage3 {
        // transform: perspective(1500px) rotate3d(0, 1, 0, -90deg) scale(2);
        transform: matrix(1, 0, -1, 1, 2, 1);
        .title { top: 22%; }
        .asteroids-main { }
        .planet-main { transform: scale(1); top: 30%; left: 5%;}
        .developer { opacity: 1; top: 55%; left: 46%;  }
      }
    }
    &.layers {
      .title {
        top: 44%;
        left: -25%;
      }
      &.stage0 {
        .ateroids-planet-layers {
          transform: 
            scale(2)
            translate(-50% , 0%);
        }

        .planet-main-layers {
          transform: scale(3) translate(50% , 0%);
        }

        .title {
          transform: scale(2) translate(50% , 0%);
        }
      }
      &.stage1 {
        .ateroids-planet-layers {
          transform: 
            scale(2)
            translate(0% , 0%);
        }

        .planet-main-layers {
          transform: 
            scale(2)
            translate(10% , 0%)
            rotate(30deg);
        }

        .title {
          transform: scale(1) translate(0% , 0%);
        }
      }
      &.stage2 {
        .ateroids-planet-layers {
          transform: 
            scale(2)
            translate(20% , 0%);
        }

        .planet-main-layers {
          transform: 
            scale(1)
            translate(30% , 0%)
            rotate(60deg);
        }

        .title {
          transform: scale(1) translate(0% , 0%);
        }
      }
      &.stage3 {
        .ateroids-planet-layers {
          transform: 
            scale(1)
            translate(0% , 0%);
        }

        .planet-main-layers {
          transform: 
            scale(1)
            translate(0% , 0%)
            rotate(0deg);
        }

        .title {
          transform: scale(1) translate(0% , 0%);
        }
      }
    }
    &.projects {
      .title { top: 10%; }
      .projects { top: 35%; opacity: 0; }
      .city { opacity: 0; top: 30%; transform: scale(3);  }
      #title-projects { opacity: 0; }
      #title-city { opacity: 0; }

      &.stage0 {
        #title-projects { top: 50%; }
      }
      &.stage1 {
        .projects { top: 100%; }
        #title-projects { opacity: 1; top: 10%; }
      }
      &.stage2 {
        .projects { top: 35%; opacity: 1; }
        #title-projects { opacity: 1; top: 10%; }
        .city { top: 100%; }
      }
      &.stage3 {
        .projects { top: 20%; opacity: 1; transform: scale(0.8); }
        #title-projects { opacity: 1; top: 5%;  transform: scale(0.8); }
        .city { opacity: 1; top: 50%; transform: scale(2);  }
        #title-city { opacity: 0; top: -20%; transform: scale(2);  }
      }
      &.stage4 {
        .projects { top: 20%; opacity: 0; transform: scale(0.5); }
        #title-projects { opacity: 1; top: 50%;  transform: scale(0.7); }
        .city { opacity: 1; top: 40%; transform: scale(1.5);  }
        #title-city { opacity: 1; top: 25%; transform: scale(1); }
      }
      &.stage5 {
        .projects { top: 20%; opacity: 1; transform: scale(1); opacity: 0; }
        #title-projects { opacity: 0; top: 50%; }
        .city { opacity: 1; top: 30%; transform: scale(1.8);  }
        #title-city { opacity: 1; top: 75%; transform: scale(1); }
      }
      &.stage6 {
        transform: scale(0.5) translate(61%, 60%); 
        opacity: 0;
        .projects { top: 20%; opacity: 1; transform: scale(1); opacity: 0; }
        #title-projects { opacity: 0; top: 50%; }
        .city { opacity: 1; top: 30%; transform: scale(1.8);  }
        #title-city { opacity: 1; top: 75%; transform: scale(1); }
      }
    }
    &.star {
      #title-star { opacity: 1; }
      .glow-star { opacity: 1; }
      .star-unique { opacity: 1; }

      .constellation {  opacity: 0; }
      #title-constellation {  opacity: 0; }

      .citadel-internal { opacity: 0; }
      .citadel-external { opacity: 0; }
      .citadel-external-2 { opacity: 0; }

      &.stage0 {
        #title-star { transform: translate(-300%, -100%) scale(4); }
        .glow-star { transform: translate(-800%, -100%) scale(6) rotate(30deg); }
        .star-unique { transform: translate(-500%, -100%) scale(10); }
      }
      &.stage1 {
        #title-star { transform: translate(0, -100%) scale(1); }
        .glow-star { transform: translate(0, 10%) scale(2) rotate(-30deg); }
        .star-unique { transform: translate(0, 50%) scale(1.5); }
      }
      &.stage2 {
        #title-star { transform: translate(0, -00%) scale(1) rotate(-5deg); }
        .glow-star { transform: translate(0, 0) scale(1.5) rotate(10deg); }
        .star-unique { transform: translate(0, 50%) scale(1) rotate(-10deg); }
      }
      &.stage3 {
        .glow-star, #title-star { opacity: 0; }
        .constellation { opacity: 0.5; transform: translate(-88%, 9%) scale(3); }
        .star-unique { transform: translate(0, 60%) scale(0.8) rotate(10deg); }
      }
      &.stage4 {
        .glow-star, #title-star { opacity: 0; }
        .constellation {  opacity: 1; transform: translate(-10%, 40%) scale(1.8);  }
        .star-unique { transform: translate(-5%, 70%) scale(0.4) rotate(-20deg); }

        .citadel-external { opacity: 0; transform: translate(-0%, 0%) scale(6) rotate(-1deg); }
      }
      &.stage5 {
        .glow-star, #title-star { opacity: 0; }
        .constellation {  opacity: 0; transform: translate(-0%, 0%) scale(1);  }
        .star-unique { transform: translate(-5%, 70%) scale(0.2) rotate(-30deg); }
        .citadel-external { opacity: 0.5; transform: translate(-0%, 0%) scale(3) rotate(-1deg); }
        .citadel-internal { opacity: 0; transform: translate(-0%, 0%) scale(0) rotate(0deg); }
      }
      &.stage6 {
        .glow-star, #title-star { opacity: 0; }
        .constellation {  opacity: 0; transform: translate(-0%, 0%) scale(1);  }
        .star-unique { transform: translate(-5%, 70%) scale(0.1) rotate(-90deg); }
        .citadel-external { opacity: 1; transform: translate(-0%, 0%) scale(3) rotate(-30deg); }
        .citadel-internal { opacity: 0.5; transform: translate(-0%, 0%) scale(1) rotate(10deg); }
        .citadel-external-2 { opacity: 0; transform: translate(-0%, 0%) scale(10) rotate(0deg); } 
      }
      &.stage7 {
        .glow-star, #title-star, .constellation { opacity: 0; }
        .star-unique { transform: translate(-5%, 70%) scale(0) rotate(-120deg); }
        .citadel-external { opacity: 1; transform: translate(-0%, 0%) scale(3) rotate(-60deg); }
        .citadel-internal { opacity: 1; transform: translate(-0%, 0%) scale(1.5) rotate(50deg); }
        .citadel-external-2 { opacity: 0.3; transform: translate(-0%, 0%) scale(6) rotate(40deg); } 
      }
      &.stage8 {
        .glow-star, .star-unique, #title-star, .constellation { opacity: 0; }
        .star-unique { transform: translate(-5%, 70%) scale(0) rotate(0); opacity: 0; }
        .citadel-external { opacity: 0.5; transform: translate(-0%, 0%) scale(7) rotate(-60deg); }
        .citadel-internal { opacity: 0.5; transform: translate(-0%, 0%) scale(1) rotate(50deg); }
        .citadel-external-2 { opacity: 1; transform: translate(-0%, 0%) scale(3) rotate(70deg); } 
      }
      &.stage9 {
        .glow-star, .star-unique, #title-star, .constellation { opacity: 0; }
        .citadel-external { opacity: 0; transform: translate(-0%, 0%) scale(7) rotate(-50deg); }
        .citadel-internal { opacity: 0.5; transform: translate(-0%, 0%) scale(1) rotate(40deg); }
        .citadel-external-2 { opacity: 0.5; transform: translate(-0%, 0%) scale(3) rotate(90deg); } 
      }
      &.stage10 {
        .glow-star, .star-unique, #title-star, .constellation { opacity: 0; }
        .citadel-external { opacity: 0; transform: translate(-0%, 0%) scale(7) rotate(-50deg); }
        .citadel-internal { opacity: 0; transform: translate(-0%, 0%) scale(1) rotate(10deg); }
        .citadel-external-2 { opacity: 0; transform: translate(-0%, 0%) scale(3) rotate(120deg); } 
      }
    }
    &.dark-planet {

      .stars-dark-planet { opacity: 0;}
      .dark-planet { opacity: 0; }
      .astronaut-1 { opacity: 0; }
      .astronaut-2 { opacity: 0; }

      &.stage0 {
        .stars-dark-planet { opacity: 0; transform: translate(-0%, 0%) scale(10) rotate(0deg) }
        .dark-planet { opacity: 0; transform: translate(-0%, 0%) scale(10) rotate(0deg) }
      }
      &.stage1 {
        .stars-dark-planet { opacity: 1; transform: translate(-0%, 0%) scale(2) rotate(10deg) }
        .dark-planet { opacity: 0.5; transform: translate(-0%, 50%) scale(3) rotate(-10deg) }
        .astronaut-1 { opacity: 0; transform: translate(-0%, 0%) scale(2) rotate(10deg) }
        
      }
      &.stage2 {
        .stars-dark-planet { opacity: 1; transform: translate(-0%, 50%) scale(2) rotate(15deg) }
        .dark-planet { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(-5deg) }
        .astronaut-1 { opacity: 1; transform: translate(-0%, 0%) scale(1.5) rotate(30deg) }
        .astronaut-2 { opacity: 0.5; transform: translate(-100%, 100%) scale(2) rotate(0deg) }
      }
      &.stage3 {
        .stars-dark-planet { opacity: 1; transform: translate(-0%, 50%) scale(1.8) rotate(15deg) }
        .dark-planet { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(10deg) }
        .astronaut-1 { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(20deg) }
        .astronaut-2 { opacity: 1; transform: translate(0%, 0%) scale(1) rotate(20deg) }
      }
      &.stage4 {
        .stars-dark-planet { opacity: 1; transform: translate(-0%, 50%) scale(1.8) rotate(15deg) }
        .dark-planet { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(10deg) }
        .astronaut-1 { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(20deg) }
        .astronaut-2 { opacity: 1; transform: translate(0%, 0%) scale(1) rotate(20deg) }
      }
      &.stage5 {
        .stars-dark-planet { opacity: 0; transform: translate(-0%, 50%) scale(2) rotate(30deg) }
        .dark-planet { opacity: 0; transform: translate(-0%, 0%) scale(0.5) rotate(10deg) }
        .astronaut-1 { opacity: 0; transform: translate(-40%, -40%) scale(0.6) rotate(20deg) }
        .astronaut-2 { opacity: 0; transform: translate(70%, -70%) scale(0.6) rotate(20deg) }
      }
    }
    &.end {
      .rocks-top-left { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      .rocks-top-right { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      .rocks-bottom-left { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      .rocks-bottom-right { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      .rocks-bottom-center { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      #title-end { top: 29%; opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      
      &.stage0 {
        .rocks-top-left { opacity: 1; transform: translate(-200%, 0%) scale(1) rotate(0deg) }
        .rocks-top-right { opacity: 1; transform: translate(200%, 0%) scale(1) rotate(0deg) }
        .rocks-bottom-left { opacity: 1; transform: translate(-100%, 0%) scale(1) rotate(0deg) }
        .rocks-bottom-right { opacity: 1; transform: translate(100%, 0%) scale(1) rotate(0deg) }
        .rocks-bottom-center { opacity: 1; transform: translate(-0%, 200%) scale(1) rotate(0deg) }
        #title-end { top: 50%; opacity: 0; transform: translate(-0%, 0%) scale(3) rotate(0deg) }
      }
      &.stage1 {
        .rocks-top-left { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
        .rocks-top-right { opacity: 1; transform: translate(0%, 0%) scale(1) rotate(0deg) }
        .rocks-bottom-left { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
        .rocks-bottom-right { opacity: 1; transform: translate(0%, 0%) scale(1) rotate(0deg) }
        .rocks-bottom-center { opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
        #title-end { top: 30%; opacity: 1; transform: translate(-0%, 0%) scale(1) rotate(0deg) }
      }
      &.stage2 {
        .rocks-top-left { opacity: 1; transform: translate(-0%, -200%) scale(1) rotate(0deg) }
        .rocks-top-right { opacity: 1; transform: translate(0%, -200%) scale(1) rotate(0deg) }
        .rocks-bottom-left { opacity: 1; transform: translate(-0%, -200%) scale(1) rotate(0deg) }
        .rocks-bottom-right { opacity: 1; transform: translate(0%, -200%) scale(1) rotate(0deg) }
        .rocks-bottom-center { opacity: 1; transform: translate(-0%, -200%) scale(1) rotate(0deg) }
        #title-end { top: 10%; opacity: 1; transform: translate(-0%, -0%) scale(1) rotate(0deg) }
      }
    }
  }

  .anim {
    transition: all 1000ms;
  }
}

* * {
  outline: 1px solid rgba(235, 189, 235, 0.5);
}


@keyframes leftToRight {

	0% { transform: scale(1.2); left: -5% }
  50% {  transform: scale(1); left: 5% }
  100% { transform: scale(1.2); left: -5% }

  0%,
	100% {
		//transition: left 1s ease 300ms;
	}
}

@keyframes rotate {

	0% { transform: rotate(90deg); }
  50% {  transform: rotate(0); }
  100% { transform: rotate(-90deg); }

  0%,
	100% {
		//transition: left 1s ease 300ms;
	}
}