---
export interface Props {
  name: string;
  level: string;
  value: number;
}

let { name, level, value } = Astro.props;
---

<div class="item-skill">
  <div class="name">{name} <b>{level}</b></div>
  <div class="progressbar">
    <div class="progressbar-indicator" style=`width: ${value}%`></div>
  </div>
</div>
