@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/globals.scss";

skills {

    .skills-container {
        padding: 50px 0;

        titlepage-component {
            min-width: 500px;
        }

        &.center {
            display: flex;
            justify-content: center;
        }
    }

    .persepective-container {
        perspective: 400px;
        transform-style: preserve-3d;

        .pc-content {
            // transform: rotateX(26deg);
        }
    }

    .tech-collection {
        // width: 300px;

    }

    // width: 100vw;
    // height: calc(100vh - #{$headerHeight});
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    // padding: 0;

    // display: flex;
    // flex-direction: column;
    // padding-top: calc($headerHeight);

    ._frame-container {
        width: 100%;
        height: calc(100% - 10px);
        overflow-x: auto;
        position: relative;
        @include scroll(5px, $accentColor, black, 0px);

        ._frame-content {
            width: calc(10* 100vw);
            height: inherit;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            ._section-leteral {
                width: 100vw;
                height: inherit;
                padding: 50px;
            }
        }
    }

    ._section-leteral {
        &.main {
            display: flex;
            gap: 20px;
        }

        ._subsection {
            width: 50vw;
            min-width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: inherit;

            &.project {
                width: 100vw;
                min-width: 100vw;
            }
        }
    }

    .skills-collection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        justify-content: center;

        .skill {
            // width: 190px;
            margin-left: -30px;
            &.alter {
                margin-top: 55px;
                margin-left: -30px;
            }
            
            img {
                height: 80%;
            }
        }
    }

}

$hexaSize: 65px;
$hexaSizeHover: 80px;

.hexa-warp {
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .hexa {
        width: $hexaSize;
        height: $hexaSize;
        line-height: $hexaSize;
        background: rgb(177, 177, 177);
        text-align: center;
        cursor: pointer;
        -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        transition-delay: 300ms;
    }

    .hexa-name {
        position: absolute;
        opacity: 0;
    }

    &:hover,
    &:active {
        filter: drop-shadow(0px 0px 5px rgba(122, 122, 122, 0.5));
        z-index: 10;
        padding: 0 40px;
        transform: scale(1);

        .hexa {
            background: rgb(221 221 221);
            background: white;
            z-index: 10;
            transform: scale(1.5);
        }
    }
}