@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/globals.scss";

$hexaSize: 65px;
$hexaSizeMobile: 70px;
$hexaSizeUltra: 85px;
$hexaSizeHover: 80px;

skills {
    width: 100%;

    .skills-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        titlepage-component {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &.center {
            display: flex;
            justify-content: center;
        }

        .description {
            width: 100%;
        }
    }

    .skills-collection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        justify-content: center;
        gap: 25px;

        .skill {
            img {
                height: 80%;
            }
        }

        @include mobile {
            justify-content: flex-start;
            gap: 20px;
            padding-left: 15px;

            .skill {
                width: 100%;

                img {
                    height: 80%;
                }
            }
        }

        @include desktop-wide {
            justify-content: flex-start;
            gap: 20px;
            padding-left: 15px;

            .skill {
                width: calc((100% / 5) - 20px);

                img {
                    height: 80%;
                }
            }
        }

        @include desktop-huge {
            justify-content: flex-start;
            gap: 20px;
            padding-left: 15px;

            .skill {
                width: calc((100% / 5) - 20px);

                img {
                    height: 80%;
                }
            }
        }

        @include desktop-ultra {
            justify-content: flex-start;
            gap: 20px;
            padding-left: 15px;

            .skill {
                width: calc((100% / 5) - 20px);

                img {
                    height: 80%;
                }
            }
        }
    }

}

.shape-warp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    transition: all 300ms;
    cursor: pointer;

    .square {
        width: $hexaSize;
        height: $hexaSize;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        transition-delay: 300ms;
        background: inherit;

        img {
            z-index: 3;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 3;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: 20px;
            transition: all 300ms ease 300ms;
            opacity: 0.7;
            backdrop-filter: blur(4px);
        }
    }

    .shape-details {
        font-size: em(13);
        position: absolute;
        opacity: 0;
        transition: all 300ms;
        transition-delay: 600ms;
        line-height: 1;
        z-index: 4;
        text-align: center;
        padding: 10px;
        background: rgba(99, 99, 99, 0.6);
        color: white;
        backdrop-filter: blur(4px);
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        gap: 5px;

        b {
            font-size: em(15);
        }
    }

    .shape-level {
        position: absolute;
        display: flex;
        gap: 3px;
        width: 100%;
        top: calc(#{ $hexaSize } + 2px);
        background: lightgray;
        border-radius: 10px;
        transition: all 300ms;
        transition-delay: 600ms;
        padding: 2px;

        div {
            width: calc(100% / 5);
            height: 8px;
            background: rgb(136, 136, 136);
            border-radius: 10px;
            transition: all 300ms;
            transition-delay: 800ms;
        }

        &.level-4 {
            div {
                background: rgb(183, 20, 242);
            }
        }

        &.level-3 {
            div:nth-child(-n + 4) {
                background: rgb(106 163 40);
            }
        }

        &.level-2 {
            div:nth-child(-n + 3) {
                background: rgb(26, 148, 107);
            }
        }

        &.level-1 {
            div:nth-child(-n + 2) {
                background: rgb(140, 163, 40);
            }
        }

        &.level-0 {
            div:nth-child(-n + 1) {
                background: rgb(153, 163, 40);
            }
        }
    }

    &:hover,
    &.active {
        z-index: 10;

        .square {
            transform: scale(1.5);

            &::before,
            &::after {
                transform: scale(1.4);
            }
        }

        .shape-details {
            opacity: 1;
            top: calc($hexaSize + 20px);
            width: 200%;
        }

        .shape-level {
            top: -28px;
            width: 150%;
        }
    }

    @include mobile {
        justify-content: flex-start;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;

        .square {
            width: $hexaSizeMobile;
            height: $hexaSizeMobile;
            min-width: $hexaSize;
            min-height: $hexaSize;

            &::before {
                content: unset;
            }
        }

        .shape-details {
            opacity: 1;
            position: relative;
            background: transparent;
            backdrop-filter: none;
            color: black;
            margin: 0;
            text-align: left;
            font-size: em(15);
            padding: 0;

            b {
                font-size: em(18);
            }
        }

        .shape-level {
            width: $hexaSize;
            top: calc(#{ $hexaSizeMobile } - 13px);
            left: calc(#{ $hexaSizeMobile } - 5px);
        }

        &:hover,
        &.active {
            .square {
                transform: scale(1);

                &::before,
                &::after {
                    transform: scale(1);
                }
            }

            .shape-details {
                opacity: 1;
                top: unset;
                width: 100%;
            }

            .shape-level {
                width: $hexaSize;
                top: calc(#{ $hexaSizeMobile } - 13px);
                left: calc(#{ $hexaSizeMobile } - 5px);
            }
        }
    }

    @include desktop-wide {
        justify-content: flex-start;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;

        .square {
            width: $hexaSize;
            height: $hexaSize;
            min-width: $hexaSize;
            min-height: $hexaSize;

            &::before {
                content: unset;
            }
        }

        .shape-details {
            opacity: 1;
            position: relative;
            background: transparent;
            backdrop-filter: none;
            color: black;
            margin: 0;
            margin-top: 10px;
            text-align: left;
            font-size: em(14);
            padding: 0;

            b {
                font-size: em(18);
            }
        }

        .shape-level {
            width: $hexaSize;
            top: 0px;
            left: calc(#{ $hexaSize } + 10px);
        }

        &:hover,
        &.active {
            .square {
                transform: scale(1);

                &::before,
                &::after {
                    transform: scale(1);
                }
            }

            .shape-details {
                opacity: 1;
                top: unset;
                width: 100%;
            }

            .shape-level {
                width: $hexaSize;
                top: 0px;
                left: calc(#{ $hexaSize } + 10px);
            }
        }
    }

    @include desktop-huge {
        justify-content: flex-start;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;

        .square {
            width: $hexaSizeUltra;
            height: $hexaSizeUltra;
            min-width: $hexaSizeUltra;
            min-height: $hexaSizeUltra;

            &::before {
                content: unset;
            }
        }

        .shape-details {
            opacity: 1;
            position: relative;
            background: transparent;
            backdrop-filter: none;
            color: black;
            margin: 0;
            margin-top: 10px;
            text-align: left;
            font-size: em(16);
            padding: 0;

            b {
                font-size: em(20);
            }
        }

        .shape-level {
            width: calc(#{ $hexaSizeUltra } + 30px);
            top: 0px;
            left: calc(#{ $hexaSizeUltra } + 10px);
        }

        &:hover,
        &.active {
            .square {
                transform: scale(1);

                &::before,
                &::after {
                    transform: scale(1);
                }
            }

            .shape-details {
                opacity: 1;
                top: unset;
                width: 100%;
            }

            .shape-level {
                width: calc(#{ $hexaSizeUltra } + 30px);
                top: 0px;
                left: calc(#{ $hexaSizeUltra } + 10px);
            }
        }
    }

    @include desktop-ultra {
        justify-content: flex-start;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;

        .square {
            width: $hexaSizeUltra;
            height: $hexaSizeUltra;
            min-width: $hexaSizeUltra;
            min-height: $hexaSizeUltra;

            &::before {
                content: unset;
            }
        }

        .shape-details {
            opacity: 1;
            position: relative;
            background: transparent;
            backdrop-filter: none;
            color: black;
            margin: 0;
            margin-top: 10px;
            text-align: left;
            font-size: em(16);
            padding: 0;

            b {
                font-size: em(20);
            }
        }

        .shape-level {
            width: calc(#{ $hexaSizeUltra } + 30px);
            top: 0px;
            left: calc(#{ $hexaSizeUltra } + 10px);
        }

        &:hover,
        &.active {
            .square {
                transform: scale(1);

                &::before,
                &::after {
                    transform: scale(1);
                }
            }

            .shape-details {
                opacity: 1;
                top: unset;
                width: 100%;
            }

            .shape-level {
                width: calc(#{ $hexaSizeUltra } + 30px);
                top: 0px;
                left: calc(#{ $hexaSizeUltra } + 10px);
            }
        }
    }
}