@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/globals.scss";

portfolio-list {
    .portafolio-container {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        flex-wrap: wrap !important;
        gap: 30px;


        .separator {
            border-top: 1px solid gray;
            padding: 30px 0;
        }
    }

    /* From Uiverse.io by MikeAndrewDesigner */
    .e-card {
        background: transparent;
        box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
        position: relative;
        width: calc(100vw / 7);
        height: 330px;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;

        .icon {
            width: 3em;
            margin-top: -1em;
            padding-bottom: 1em;
        }

        .infotop {
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: 5.6em;
            left: 0;
            right: 0;
            color: rgb(255, 255, 255);
            font-weight: 600;
        }

        .name {
            font-size: 14px;
            font-weight: 100;
            position: relative;
            top: 1em;
            text-transform: lowercase;
        }

        .wave {
            position: absolute;
            width: 540px;
            height: 700px;
            opacity: 0.6;
            left: 0;
            top: 0;
            margin-left: -50%;
            margin-top: -70%;
            background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
            transition: all 500ms;
        }

        .wave:nth-child(2),
        .wave:nth-child(3) {
            top: 0px;
        }

        .wave {
            // border-radius: 40%;
            // animation: wave 55s infinite linear;
        }

        .wave:nth-child(2) {
            // animation-duration: 50s;
        }

        .wave:nth-child(3) {
            // animation-duration: 45s;
        }

        &.playing,
        &:hover {

            .wave:nth-child(2),
            .wave:nth-child(3) {
                top: 210px;
            }

            .wave {
                border-radius: 40%;
                animation: wave 3000ms infinite linear;
            }

            .wave:nth-child(2) {
                animation-duration: 4000ms;
            }

            .wave:nth-child(3) {
                animation-duration: 5000ms;
            }
        }
    }

    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .container-project {
        display: flex;
        gap: 30px;
        line-height: 1.5;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 92.5vw;
        width: calc(100vw - 10%);
    }

    .info {
        width: 20%;
        font-size: em(22);
        font-weight: lighter;
    }

    .project-list-mask {
        width: calc(80%);
        overflow: hidden;
        overflow-x: auto;
        margin-left: auto;
    }

    .project-list {
        width: calc(400px * 10);
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 15px;
    }

    .project-card {
        position: relative;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        width: 200px;

        .pc-background {
            // position: absolute;
            width: calc(100% - 40px);
        }

        .pc-border {
            height: 10px;
            width: 100%;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            position: relative;
            display: flex;

            .pc-border-item {
                width: 100%;
                height: 8px;
                border-bottom: 1px solid #f3f2f9;

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }
            }
        }

        .pc-container {
            background: white;
            padding: 20px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            flex-wrap: nowrap;
            min-height: 400px;
            justify-content: flex-start;

            .pc-container-title {
                font-size: 20px;
            }

            .pc-container-description {
                font-size: 12px;
            }

            .pc-tech-list-title {
                margin-top: auto;
            }

            .pc-tech-list {
                display: flex;
                flex-wrap: wrap;
                gap: 3px;

                .pc-tech-item {
                    img {
                        width: 35px;
                    }
                }
            }
        }

        .pc-stats {
            background: #f3f2f9;
            height: 50px;
            width: 100%;
            border-radius: 10px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            align-items: center;
            flex-direction: column;
        }

        .pc-container-title {
            font-weight: bold;
        }
    }

    .type {
        &.admin {
            background: #ff9233;
        }

        &.frontend {
            background: #a1e5d7;
        }

        &.backend {
            background: #fec267;
        }

        &.design {
            background: #c6a3e1;
        }
    }

    .square {
        width: 20px;
        height: 20px;
        background: gray;
        display: inline-block;
    }
}