@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/globals.scss";

portfolio-list {
    width: 100%;

    .portafolio-container {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        flex-wrap: wrap !important;
        gap: 30px;
        max-width: 100vw;


        .separator {
            border-top: 1px solid gray;
            padding: 30px 0;
        }

        .absolute {
            position: absolute;
            transition: all 400ms ease-in-out;
        }

        .info-projects {
            transform: translateX(0%);
            opacity: 1;
            transition-delay: 300ms;
        }

        .project-list-mask {
            transform: translateX(0%);
            opacity: 1;
            transition-delay: 0ms;
        }

        .current-project {
            transform: translateX(50%);
            opacity: 0;
            transition-delay: 300ms;
        }

        &.current-project-show {

            .info-projects {
                transform: translateX(50%);
                opacity: 0;
                z-index: 0;

                @include mobile {
                    display: none;
                }
            }

            .project-list-mask {
                animation: exist-list-animation forwards;
                animation-duration: 600ms;

                @include mobile {
                    display: none;
                }
            }

            .current-project {
                transform: translateX(0%);
                opacity: 1;
                z-index: 1;
                height: auto;
                background: transparent;
            }
        }
    }

    .container-project {
        display: flex;
        gap: 30px;
        line-height: 1.5;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 92.5vw;
        width: calc(100vw - 10%);
        width: 100%;

        .info {
            h6 {
                margin: 0 0 10px;
            }
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    .info-projects {
        width: 20%;
        font-size: rem(22);
        font-weight: lighter;
        margin-left: 0;

        h6 {
            margin: 0 0 15px 0;
        }

        @include mobile {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            h6 {
                margin: 0;
            }
        }
    }


    .project-list-mask {
        width: calc(80%);
        overflow: hidden;
        overflow-x: auto;
        margin-left: 20%;
    }

    .project-list {
        width: calc(400px * 10);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
    }

    .current-project {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        margin-left: 0%;
        background: rgb(255, 255, 255);
        padding: 0px;
        font-size: rem(16);
        height: 1px;
        padding: 0;
    }

    .info-projects,
    .project-list-mask,
    .project-list,
    .current-project {
        @include mobile {
            width: 100%;
            position: relative !important;
            margin: 0 !important;
        }
    }

    .project-details {
        font-size: rem(16);
        display: flex;
        flex-direction: column;
        flex-direction: row;
        gap: 0;

        @include mobile {
            flex-direction: column;
        }

        .project-details-info,
        .project-details-images {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 100%;
            position: relative;

            @include mobile {
                width: 100% !important;
            }
        }

        .project-details-info {
            width: calc(25% - 20px);
        }

        .project-details-images {
            width: calc(80% - 20px);
        }

        .project-dates {
            font-style: italic;
            display: flex;
            gap: 20px;
        }

        .project-links {
            a {
                text-decoration: underline;
            }
        }

        .project-tech-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .project-tech-item {
                width: 60px;
            }
        }

        .image-empty {
            display: flex;
            height: 35vw;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: #a5a5a5;
            background: #f5f5f5;
            font-size: rem(20);
        }
    }

    .project-card {
        position: relative;
        border: 2px solid #bcbcbc;
        border-radius: 10px;
        width: calc((100% / 3) - 10px);
        background: white;
        cursor: pointer;
        transition: all 300ms;

        &:hover {
            background: rgb(235, 235, 235);
        }

        .pc-background {
            width: calc(100% - 40px);
        }

        .pc-border {
            height: 10px;
            width: 100%;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            position: relative;
            display: flex;

            .pc-border-item {
                width: 100%;
                height: 8px;
                border-bottom: 1px solid #f3f2f9;

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }
            }
        }

        .pc-container {
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            min-height: 190px;
            height: auto;
            justify-content: flex-start;

            .pc-container-title {
                font-size: rem(22);
                font-weight: normal;
            }

            .pc-container-description {
                font-size: rem(12);
                display: none;
            }

            .pc-tech-list-title {
                margin-top: auto;
            }

            .pc-tech-list {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-top: auto;

                .pc-tech-item {
                    img {
                        width: 35px;
                        width: 30px;
                    }
                }
            }

            .pc-date-dev {
                font-weight: 300;
                text-transform: uppercase;
            }
        }

        .pc-stats {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            align-items: center;
            flex-direction: column;
        }

        .pc-container-title {
            font-weight: bold;
        }

        @include mobile {
            width: 80%;
        }

        @include desktop {
            width: calc((100% / 5) - 20px);

            .pc-container {
                padding: 10px;
            }

            .pc-container-title {
                font-size: rem(18) !important;
            }

            .pc-date-dev {
                p {
                    margin: 0;
                    font-size: rem(14) !important;
                }
            }

            .pc-tech-item {
                img {
                    width: 25px !important;
                }
            }
        }

        @include desktop-wide {
            width: calc((100% / 3) - 20px);

            .pc-container-title {
                font-size: rem(22) !important;
            }

            .pc-date-dev {
                p {
                    margin: 0;
                    font-size: rem(16) !important;
                }
            }

            .pc-tech-item {
                img {
                    width: 30px !important;
                }
            }
        }
    }

    .type {
        &.admin {
            background: #ff9233;
        }

        &.frontend {
            background: #a1e5d7;
        }

        &.backend {
            background: #fec267;
        }

        &.design {
            background: #c6a3e1;
        }

        &.mobile {
            background: #9cc46e;
        }
    }

    .square {
        width: 20px;
        height: 20px;
        background: gray;
        display: inline-block;
    }

    ._carousel {
        position: relative;
        margin: 0;
        background: #ffffff;
        height: 65vh;
        width: 100%;
        overflow: hidden;

        ._entries {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: row;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            scroll-behavior: smooth;
            overscroll-behavior: contain;

            >li {
                scroll-snap-align: center;
                flex: 100% 1 0;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding: 1rem 1rem 4rem 1rem;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        ._markers {
            display: flex;
            flex-direction: row;
            gap: 0.25em;
            font-size: rem(30);
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            translate: -50% 0;

            li {
                &:nth-child(1) {
                    --i: 1;
                }

                &:nth-child(2) {
                    --i: 2;
                }

                &:nth-child(3) {
                    --i: 3;
                }

                &:nth-child(4) {
                    --i: 4;
                }

                &:nth-child(5) {
                    --i: 5;
                }

                &:nth-child(6) {
                    --i: 6;
                }

                &:nth-child(7) {
                    --i: 7;
                }

                a {
                    display: block;
                    width: 15px;
                    aspect-ratio: 1;
                    background: #7e7e7e;
                    border-radius: 50%;
                }
            }
        }

        @include desktop {
            height: 60vh;
        }

        @include desktop-wide {
            height: 73vh;
        }

    }

    [data-component="carousel"] {

        timeline-scope: --carousel;

        ._entries {
            scroll-timeline: --carousel x;
        }

        ._markers {
            a {
                animation-timeline: --carousel;
                animation-range: calc((var(--i) - 1) * 20%) calc(var(--i) * 20% + 1px);
                background: $accentColor;
                &:active {
                    background: white;
                }
            }
        }
    }
}

@keyframes exist-list-animation {
    0% {

        transform: translateX(0%);
        opacity: 1;
        z-index: 1;
    }

    50% {

        transform: translateX(-10%);
        opacity: 0;
        z-index: 0;
    }

    100% {
        transform: translateX(-30%);
        opacity: 0;
        z-index: 0;
    }
}