@import "../../../../../scss/core/mixins";
@import "../../../../../scss/core/globals.scss";

portfolio-list {
    .portafolio-container {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        flex-wrap: wrap !important;
        gap: 30px;
        width: calc(80vw);


        .separator {
            border-top: 1px solid gray;
            padding: 30px 0;
        }


        .absolute {
            position: absolute;
            transition: all 400ms ease-in-out;
        }

        .info-projects {
            transform: translateX(0%);
            opacity: 1;
            transition-delay: 300ms;
        }

        .project-list-mask {
            transform: translateX(0%);
            opacity: 1;
            transition-delay: 0ms;
        }

        .current-project {
            transform: translateX(50%);
            opacity: 0;
            transition-delay: 300ms;
        }

        &.current-project-show {

            .info-projects {
                transform: translateX(50%);
                opacity: 0;
                z-index: 0;
            }

            .project-list-mask {
                // transform: translateX(-30%);
                // opacity: 0;
                // z-index: 0;
                animation: exist-list-animation forwards;
                animation-duration: 600ms;
            }

            .current-project {
                transform: translateX(0%);
                opacity: 1;
                z-index: 1;
                height: auto;
                background: transparent;
            }
        }
    }


    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .container-project {
        display: flex;
        gap: 30px;
        line-height: 1.5;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 92.5vw;
        width: calc(100vw - 10%);
        width: 100%;

        .info {
            h6 {
                margin: 0 0 10px;
            }
        }
    }

    .info-projects {
        width: 20%;
        font-size: em(22);
        font-weight: lighter;
        margin-left: 0;

        h6 {
            margin: 0 0 15px 0;
        }
    }

    .project-list-mask {
        width: calc(80%);
        overflow: hidden;
        overflow-x: auto;
        margin-left: 20%;
    }

    .project-list {
        width: calc(400px * 10);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
    }

    .current-project {
        width: 80vw;
        overflow: hidden;
        overflow-x: auto;
        margin-left: 0%;
        background: rgb(255, 255, 255);
        padding: 0px;
        font-size: 18px;
        height: 1px;
        padding: 10px 0;
    }

    .project-details {
        font-size: 25px;
        display: flex;
        flex-direction: row;
        gap: 40px;

        .project-details-info,
        .project-details-images {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            width: 60%;
            position: relative;
        }

        .project-details-info {
            width: calc(40% - 40px);
        }

        .project-dates {
            font-style: italic;
        }

        .project-links {
            a {
                text-decoration: underline;
            }
        }

        .project-tech-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .project-tech-item {
                width: 80px;
            }
        }

        .image-empty {
            display: flex;
            height: 40vw;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: #a5a5a5;
            background: #f5f5f5;
            font-size: 20px;
        }
    }

    .project-card {
        position: relative;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        width: 200px;

        position: relative;
        border: 2px solid #bcbcbc;
        border-radius: 10px;
        width: calc((100% / 3) - 10px);
        background: white;
        cursor: pointer;
        transition: all 300ms;

        &:hover {
            background: rgb(235, 235, 235);
        }

        .pc-background {
            // position: absolute;
            width: calc(100% - 40px);
        }

        .pc-border {
            height: 10px;
            width: 100%;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            position: relative;
            display: flex;

            .pc-border-item {
                width: 100%;
                height: 8px;
                border-bottom: 1px solid #f3f2f9;

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }
            }
        }

        .pc-container {
            padding: 20px;
            display: flex;
            // gap: 10px;
            flex-direction: column;
            flex-wrap: nowrap;
            min-height: 190px;
            height: auto;
            justify-content: flex-start;

            .pc-container-title {
                font-size: 22px;
                font-weight: normal;
            }

            .pc-container-description {
                font-size: 12px;
                display: none;
            }

            .pc-tech-list-title {
                margin-top: auto;
            }

            .pc-tech-list {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-top: auto;

                .pc-tech-item {
                    img {
                        width: 35px;
                        width: 30px;
                    }
                }
            }

            .pc-date-dev {
                font-weight: 300;
                text-transform: uppercase;
            }
        }

        .pc-stats {
            // background: #f3f2f9;
            // height: 50px;
            width: 100%;
            // border-radius: 10px;
            // border-top-right-radius: 0;
            // border-top-left-radius: 0;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            align-items: center;
            flex-direction: column;
        }

        .pc-container-title {
            font-weight: bold;
        }
    }

    .type {
        &.admin {
            background: #ff9233;
        }

        &.frontend {
            background: #a1e5d7;
        }

        &.backend {
            background: #fec267;
        }

        &.design {
            background: #c6a3e1;
        }

        &.mobile {
            background: #9cc46e;
        }
    }

    .square {
        width: 20px;
        height: 20px;
        background: gray;
        display: inline-block;
    }

    ._carousel {
        position: relative;
        margin: 0;
        background: #ffffff;
        height: 70vh;
        width: 100%;
        overflow: hidden;

        ._entries {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: row;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            scroll-behavior: smooth;
            overscroll-behavior: contain;

            >li {
                scroll-snap-align: center;
                flex: 100% 1 0;
                display: flex;
                padding: 1rem 1rem 4rem 1rem;
            }
        }

        ._markers {
            display: flex;
            flex-direction: row;
            gap: 0.25em;
            font-size: 40px;
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            translate: -50% 0;

            li {
                // &:nth-child(1) {
                //     --i: 1;
                // }

                // &:nth-child(2) {
                //     --i: 2;
                // }

                // &:nth-child(3) {
                //     --i: 3;
                // }

                // &:nth-child(4) {
                //     --i: 4;
                // }

                // &:nth-child(5) {
                //     --i: 5;
                // }

                // &:nth-child(6) {
                //     --i: 6;
                // }

                // &:nth-child(7) {
                //     --i: 7;
                // }

                a {
                    display: block;
                    width: 30px;
                    aspect-ratio: 1;
                    background: #ee951085;
                    border-radius: 50%;
                    backdrop-filter: blur(4px);
                }
            }
        }
    }

    [data-component="carousel"] {

        timeline-scope: --carousel;

        ._entries {
            scroll-timeline: --carousel x;
        }

        ._markers {
            a {
                animation-timeline: --carousel;
                animation-range: calc((var(--i) - 1) * 20%) calc(var(--i) * 20% + 1px);
            }
        }
    }
}


@keyframes exist-list-animation {
        0% {
            
            transform: translateX(0%);
            opacity: 1;
            z-index: 1;
        }

        50% {
            
            transform: translateX(-10%);
            opacity: 0;
            z-index: 0;
        }

        100% {
            transform: translateX(-30%);
            opacity: 0;
            z-index: 0;
        }
    }